In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm

plt.rcParams['font.family'] = 'Malgun Gothic' 
plt.rcParams['axes.unicode_minus'] = False

In [ ]:
multi_household.columns

Index(['index', '시군구', '전용면적(㎡)', '계약년월', '계약일', '전세금', '건축년도', '도로명', '계약기간',
       '계약구분', '갱신요구권 사용', '종전계약 보증금(만원)', '종전계약 월세(만원)', '주택유형', '계약시기', '구',
       '전세전환_갱신', '계약개월수', 'is_계약개월수_missing', '동',
       'is_갱신요구권_사용_originally_missing', 'is_건축년도_missing', '평균매매가', '평균전세금',
       '전세가율'],
      dtype='object')

In [17]:
apt = pd.read_csv("C:/Users/rmagm/OneDrive/바탕 화면/vscode/SDC_project/아파트_전세가율.csv")

In [22]:
# apt DataFrame에 'Unnamed: 0' 컬럼이 있다고 가정

if 'Unnamed: 0' in apt.columns:
    apt = apt.drop(columns=['Unnamed: 0'])
    print("컬럼 'Unnamed: 0'이 제거되었습니다.")
else:
    print("컬럼 'Unnamed: 0'이 존재하지 않습니다.")

컬럼 'Unnamed: 0'이 제거되었습니다.

In [23]:
apt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40547 entries, 0 to 40546
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   시군구                             40547 non-null  object
 1   구                               40547 non-null  object
 2   동                               40547 non-null  object
 3   전용면적(㎡)                         40547 non-null  float64
 4   계약년월                            40547 non-null  int64
 5   계약일                             40547 non-null  int64
 6   전세금                             40547 non-null  int64
 7   건축년도                            40547 non-null  float64
 8   도로명                             40547 non-null  object
 9   계약기간                            40547 non-null  object
 10  계약구분                            40547 non-null  object
 11  갱신요구권 사용                        40547 non-null  object
 12  종전계약 보증금(만원)                    40547 non-null  object
 13  종전계약 월세(만원)                     40547 non-null  int64
 14  주택유형                            40547 non-null  object
 15  계약시기                            40547 non-null  object
 16  전세전환_갱신                         40547 non-null  int64
 17  계약개월수                           40547 non-null  float64
 18  is_계약개월수_missing                40547 non-null  int64
 19  is_갱신요구권_사용_originally_missing  40547 non-null  int64
 20  is_건축년도_missing                 40547 non-null  int64
 21  평균전세금                           40547 non-null  float64
 22  평균매매가                           40547 non-null  float64
 23  전세가율                            40547 non-null  float64
dtypes: float64(6), int64(8), object(10)
memory usage: 7.4+ MB

In [ ]:
apt = apt.drop_duplicates()

In [29]:
apt[apt.duplicated()]

Empty DataFrame
Columns: [시군구, 구, 동, 전용면적(㎡), 계약년월, 계약일, 전세금, 건축년도, 도로명, 계약기간, 계약구분, 갱신요구권 사용, 종전계약 보증금(만원), 종전계약 월세(만원), 주택유형, 계약시기, 전세전환_갱신, 계약개월수, is_계약개월수_missing, is_갱신요구권_사용_originally_missing, is_건축년도_missing, 평균전세금, 평균매매가, 전세가율]
Index: []

[0 rows x 24 columns]

In [12]:
office = pd.read_csv("C:/Users/rmagm/OneDrive/바탕 화면/vscode/SDC_project/오피스텔_전세가율.csv")

In [13]:
office.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40547 entries, 0 to 40546
Data columns (total 33 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      40547 non-null  int64
 1   NO                              40547 non-null  int64
 2   시군구                             40547 non-null  object
 3   번지                              40547 non-null  object
 4   본번                              40547 non-null  int64
 5   부번                              40547 non-null  int64
 6   단지명                             40547 non-null  object
 7   전월세구분                           40547 non-null  object
 8   전용면적(㎡)                         40547 non-null  float64
 9   계약년월                            40547 non-null  int64
 10  계약일                             40547 non-null  int64
 11  전세금                             40547 non-null  int64
 12  월세금(만원)                         40547 non-null  int64
 13  층                               40547 non-null  int64
 14  건축년도                            40547 non-null  float64
 15  도로명                             40547 non-null  object
 16  계약기간                            40547 non-null  object
 17  계약구분                            40547 non-null  object
 18  갱신요구권 사용                        40547 non-null  object
 19  종전계약 보증금(만원)                    40547 non-null  object
 20  종전계약 월세(만원)                     40547 non-null  int64
 21  계약시기                            40547 non-null  object
 22  구                               40547 non-null  object
 23  동                               40547 non-null  object
 24  전세전환_갱신                         40547 non-null  int64
 25  계약개월수                           40547 non-null  float64
 26  is_계약개월수_missing                40547 non-null  int64
 27  is_갱신요구권_사용_originally_missing  40547 non-null  int64
 28  is_건축년도_missing                 40547 non-null  int64
 29  주택유형                            40547 non-null  object
 30  평균전세금                           40547 non-null  float64
 31  평균매매가                           40547 non-null  float64
 32  전세가율                            40547 non-null  float64
dtypes: float64(6), int64(14), object(13)
memory usage: 10.2+ MB

In [41]:
multi_household = pd.read_csv("C:/Users/rmagm/OneDrive/바탕 화면/vscode/SDC_project/단독다가구_전세가율.csv")

In [42]:
multi_household.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53733 entries, 0 to 53732
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   시군구                             53733 non-null  object
 1   전용면적(㎡)                         53733 non-null  float64
 2   계약년월                            53733 non-null  int64
 3   계약일                             53733 non-null  int64
 4   전세금                             53733 non-null  int64
 5   건축년도                            53733 non-null  float64
 6   도로명                             51218 non-null  object
 7   계약기간                            53733 non-null  object
 8   계약구분                            53733 non-null  object
 9   갱신요구권 사용                        53733 non-null  object
 10  종전계약 보증금(만원)                    53733 non-null  int64
 11  종전계약 월세(만원)                     53733 non-null  int64
 12  주택유형                            53733 non-null  object
 13  계약시기                            53733 non-null  object
 14  구                               53733 non-null  object
 15  전세전환_갱신                         53733 non-null  int64
 16  계약개월수                           53733 non-null  float64
 17  is_계약개월수_missing                53733 non-null  int64
 18  동                               53733 non-null  object
 19  is_갱신요구권_사용_originally_missing  53733 non-null  int64
 20  is_건축년도_missing                 53733 non-null  int64
 21  평균매매가                           53733 non-null  float64
 22  평균전세금                           53733 non-null  float64
 23  전세가율                            53733 non-null  float64
dtypes: float64(6), int64(9), object(9)
memory usage: 9.8+ MB

In [4]:
town_house = pd.read_csv("C:/Users/rmagm/OneDrive/바탕 화면/vscode/SDC_project/연립다세대_전세가3.csv")

In [29]:
town_house.isnull().sum()

시군구                               0
전용면적(㎡)                           0
계약년월                              0
계약일                               0
전세금                               0
건축년도                              0
도로명                               0
계약기간                              0
계약구분                              0
갱신요구권 사용                          0
종전계약 보증금(만원)                      0
종전계약 월세(만원)                       0
주택유형                              0
계약시기                              0
구                                 0
전세전환_갱신                           0
계약개월수                             0
is_계약개월수_missing                  0
is_갱신요구권_사용_originally_missing    0
동                                 0
is_건축년도_missing                   0
전세가율                              0
평균매매가                             0
평균전세금                             0
dtype: int64

In [5]:
town_house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91508 entries, 0 to 91507
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   시군구                             91508 non-null  object
 1   전용면적(㎡)                         91508 non-null  float64
 2   계약년월                            91508 non-null  int64
 3   계약일                             91508 non-null  int64
 4   전세금                             91508 non-null  int64
 5   건축년도                            91508 non-null  int64
 6   도로명                             91508 non-null  object
 7   계약기간                            91508 non-null  object
 8   계약구분                            91508 non-null  object
 9   갱신요구권 사용                        91508 non-null  object
 10  종전계약 보증금(만원)                    91508 non-null  object
 11  종전계약 월세(만원)                     91508 non-null  float64
 12  주택유형                            91508 non-null  object
 13  계약시기                            91508 non-null  object
 14  구                               91508 non-null  object
 15  전세전환_갱신                         91508 non-null  int64
 16  계약개월수                           91508 non-null  float64
 17  is_계약개월수_missing                91508 non-null  int64
 18  is_갱신요구권_사용_originally_missing  91508 non-null  int64
 19  동                               91508 non-null  object
 20  is_건축년도_missing                 91508 non-null  int64
 21  전세가율                            91508 non-null  float64
 22  평균매매가                           91508 non-null  float64
 23  평균전세금                           91508 non-null  float64
dtypes: float64(6), int64(8), object(10)
memory usage: 16.8+ MB

In [11]:
merged = pd.concat([town_house, multi_household])

In [28]:
multi_household.isnull().sum()

시군구                                  0
전용면적(㎡)                              0
계약년월                                 0
계약일                                  0
전세금                                  0
건축년도                                 0
도로명                               2515
계약기간                                 0
계약구분                                 0
갱신요구권 사용                             0
종전계약 보증금(만원)                         0
종전계약 월세(만원)                          0
주택유형                                 0
계약시기                                 0
구                                    0
전세전환_갱신                              0
계약개월수                                0
is_계약개월수_missing                     0
동                                    0
is_갱신요구권_사용_originally_missing       0
is_건축년도_missing                      0
평균매매가                                0
평균전세금                                0
전세가율                                 0
dtype: int64

In [12]:
merged

,시군구,전용면적(㎡),계약년월,계약일,전세금,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,...,구,전세전환_갱신,계약개월수,is_계약개월수_missing,is_갱신요구권_사용_originally_missing,동,is_건축년도_missing,전세가율,평균매매가,평균전세금
0,서울특별시 중랑구 상봉동,25.91,202306,23,25000,2023.0,면목로92가길 4,202307~202507,신규,해당없음,...,중랑구,0,24.0,0,0,상봉동,0,69.142755,31507.014811,21784.818077
1,서울특별시 성북구 정릉동,29.61,202306,23,21000,2018.0,보국문로11길 28-7,202307~202507,갱신,미사용,...,성북구,0,24.0,0,0,정릉동,0,66.151457,30890.915493,20434.790612
2,서울특별시 중랑구 면목동,17.54,202306,23,14000,2023.0,면목로65길 27,202308~202508,신규,해당없음,...,중랑구,0,24.0,0,0,면목동,0,69.142755,31507.014811,21784.818077
3,서울특별시 성북구 장위동,59.64,202306,23,11000,1991.0,장위로31길 16,202307~202507,신규,해당없음,...,성북구,0,24.0,0,0,장위동,0,66.151457,30890.915493,20434.790612
4,서울특별시 송파구 석촌동,40.80,202306,23,20000,2002.0,삼학사로6길 13,202307~202507,갱신,미사용,...,송파구,0,24.0,0,0,석촌동,0,65.128508,37607.861828,24493.439139
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53728,서울특별시 송파구 마천동,18.75,202306,1,2000,1985.0,성내천로29다길,-,신규,해당없음,...,송파구,0,24.0,0,0,마천동,0,6.456155,256582.105769,16565.338401
53729,서울특별시 송파구 방이동,43.00,202306,1,24000,2019.0,NaN,-,신규,해당없음,...,송파구,0,24.0,0,0,방이동,0,6.456155,256582.105769,16565.338401
53730,서울특별시 송파구 방이동,43.00,202306,1,24000,2019.0,백제고분로48길,202307~202507,신규,해당없음,...,송파구,0,24.0,0,0,방이동,0,6.456155,256582.105769,16565.338401
53731,서울특별시 송파구 방이동,43.00,202306,1,14000,1996.0,위례성대로2길,202309~202509,갱신,미사용,...,송파구,0,24.0,0,0,방이동,0,6.456155,256582.105769,16565.338401
53732,서울특별시 강동구 성내동,49.65,202306,1,17500,1976.0,천호대로168다길,202306~202506,신규,해당없음,...,강동구,0,24.0,0,0,성내동,0,9.785627,155360.825503,15203.031022

In [13]:
merged['평균전세금'].isnull().sum()

np.int64(0)

In [27]:
merged.isnull().sum()

시군구                                  0
전용면적(㎡)                              0
계약년월                                 0
계약일                                  0
전세금                                  0
건축년도                                 0
도로명                               2515
계약기간                                 0
계약구분                                 0
갱신요구권 사용                             0
종전계약 보증금(만원)                         0
종전계약 월세(만원)                          0
주택유형                                 0
계약시기                                 0
구                                    0
전세전환_갱신                              0
계약개월수                                0
is_계약개월수_missing                     0
is_갱신요구권_사용_originally_missing       0
동                                    0
is_건축년도_missing                      0
전세가율                                 0
평균매매가                                0
평균전세금                                0
계약연월                                 0
면적대                                469
건축연도대                             7180
조건그룹                                 0
전세금_평균                               0
전세금_표준편차                            55
전세금_zscore                          66
전세금_이상치                              0
구_연월                                 0
해당월_거래수                              0
거래_집중의심                              0
노후건물                                 0
노후_이상보증                              0
dtype: int64

In [30]:
merged[merged['면적대'].isnull()]

,시군구,전용면적(㎡),계약년월,계약일,전세금,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,...,조건그룹,전세금_평균,전세금_표준편차,전세금_zscore,전세금_이상치,구_연월,해당월_거래수,거래_집중의심,노후건물,노후_이상보증
783,서울특별시 종로구 신영동,214.51,202306,6,50000,1992.0,세검정로 252-8,202306~202506,신규,해당없음,...,종로구_90-00_nan,66000.000000,40387.016616,-0.396167,False,종로구_202306,132,True,False,False
1740,서울특별시 서초구 양재동,280.11,202306,12,150000,1988.0,바우뫼로27길 20,202307~202507,신규,해당없음,...,서초구_80-90_nan,77583.333333,53619.095040,1.350576,False,서초구_202306,393,True,True,False
2126,서울특별시 성북구 성북동,210.40,202306,14,110000,1992.0,선잠로 43,202306~202506,신규,해당없음,...,성북구_90-00_nan,60000.000000,70710.678119,0.707107,False,성북구_202306,303,True,False,False
3167,서울특별시 서초구 양재동,230.49,202306,20,160000,1989.0,바우뫼로23길 34,202307~202507,신규,해당없음,...,서초구_80-90_nan,77583.333333,53619.095040,1.537077,False,서초구_202306,393,True,True,False
4015,서울특별시 서초구 반포동,241.23,202306,29,165000,1994.0,동광로39길 49,202308~202508,신규,해당없음,...,서초구_90-00_nan,125133.333333,41759.287533,0.954678,False,서초구_202306,393,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142020,서울특별시 광진구 자양동,220.01,202306,30,14500,1989.0,동일로10나길,202307~202404,갱신,미사용,...,광진구_80-90_nan,26000.000000,21017.373766,-0.547166,False,광진구_202306,527,True,True,False
142029,서울특별시 관악구 신림동,241.06,202306,30,7000,-1.0,서림1길,202307~202506,신규,해당없음,...,관악구_nan_nan,10700.000000,6991.423317,-0.529220,False,관악구_202306,548,True,True,False
143286,서울특별시 동작구 신대방동,232.32,202306,19,20000,2018.0,NaN,-,신규,해당없음,...,동작구_10-20_nan,15500.000000,6363.961031,0.707107,False,동작구_202306,435,True,False,False
143840,서울특별시 관악구 신림동,228.60,202306,13,11000,1988.0,NaN,-,신규,해당없음,...,관악구_80-90_nan,12320.000000,8084.388247,-0.163278,False,관악구_202306,548,True,True,False
144792,서울특별시 중랑구 묵동,249.67,202306,5,17000,2019.0,동일로149다길,202307~202507,갱신,미사용,...,중랑구_10-20_nan,15857.142857,3236.694375,0.353094,False,중랑구_202306,420,True,False,False

In [40]:
merged[merged['동'] == ' ']

Empty DataFrame
Columns: [시군구, 전용면적(㎡), 계약년월, 계약일, 전세금, 건축년도, 도로명, 계약기간, 계약구분, 갱신요구권 사용, 종전계약 보증금(만원), 종전계약 월세(만원), 주택유형, 계약시기, 구, 전세전환_갱신, 계약개월수, is_계약개월수_missing, is_갱신요구권_사용_originally_missing, 동, is_건축년도_missing, 전세가율, 평균매매가, 평균전세금, 계약연월, 면적대, 건축연도대, 조건그룹, 전세금_평균_x, 전세금_표준편차_x, 전세금_zscore, 전세금_이상치, 구_연월, 해당월_거래수, 거래_집중의심, 노후건물, 노후_이상보증, 전세금_평균_y, 전세금_표준편차_y, 전세금_평균, 전세금_표준편차]
Index: []

[0 rows x 41 columns]

In [31]:
merged['계약연월'] = merged['계약년월'].astype(str)  # 예: 202412

# 주소 + 계약연월 기준 그룹화
grouped = merged.groupby(['구', '계약연월']).size().reset_index(name='동일주소_해당월_거래수')

In [32]:
# 면적대, 건축연도대 생성
merged['면적대'] = pd.cut(merged['전용면적(㎡)'], bins=[0, 30, 50, 70, 100, 200], labels=['0-30', '30-50', '50-70', '70-100', '100+'])
merged['건축연도대'] = pd.cut(merged['건축년도'], bins=[0, 1980, 1990, 2000, 2010, 2020, 2030], labels=['~80', '80-90', '90-00', '00-10', '10-20', '20+'])

# 조건 그룹 생성
merged['조건그룹'] = merged[['구', '건축연도대', '면적대']].astype(str).agg('_'.join, axis=1)

In [39]:
# 그룹별 평균과 표준편차 → Z-score
group_stats = merged.groupby('조건그룹')['전세금'].agg(['mean', 'std']).reset_index()
group_stats.columns = ['조건그룹', '전세금_평균', '전세금_표준편차']
merged = merged.merge(group_stats, on='조건그룹', how='left')
merged['전세금_zscore'] = (merged['전세금'] - merged['전세금_평균']) / merged['전세금_표준편차']
merged['전세금_이상치'] = merged['전세금_zscore'].abs() > 2

In [ ]:
merged['구_연월'] = merged['구'] + '_' + merged['계약연월'].astype(str)
도로_빈도 = merged['구_연월'].value_counts().reset_index()
도로_빈도.columns = ['구_연월', '해당월_거래수']
merged = merged.merge(도로_빈도, on='구_연월', how='left')
merged['거래_집중의심'] = merged['해당월_거래수'] >= 3

In [ ]:
merged['노후건물'] = merged['건축년도'] < 1990
merged['노후_이상보증'] = merged['노후건물'] & merged['전세금_이상치']

In [37]:
구별_지표 = merged.groupby('구').agg({
    '전세금_이상치': 'sum',
    '거래_집중의심': 'sum',
    '노후_이상보증': 'sum',
    '도로명': 'count'  # 총 거래 수로 사용
}).reset_index()

구별_지표['전세금_이상비율'] = 구별_지표['전세금_이상치'] / 구별_지표['도로명']
구별_지표['거래집중비율'] = 구별_지표['거래_집중의심'] / 구별_지표['도로명']
구별_지표['노후이상비율'] = 구별_지표['노후_이상보증'] / 구별_지표['도로명']

In [34]:
from sklearn.preprocessing import RobustScaler  # 또는 StandardScaler, MinMaxScaler

scaler = RobustScaler()
score_cols = ['전세금_이상비율', '거래집중비율', '노후이상비율']
구별_지표[[f'{col}_정규화' for col in score_cols]] = scaler.fit_transform(구별_지표[score_cols])

# 종합 스코어
구별_지표['위험스코어'] = 구별_지표[[f'{col}_정규화' for col in score_cols]].mean(axis=1)

# 상위 5개 구 추출
상위구 = 구별_지표.sort_values('위험스코어', ascending=False).head(5)

In [38]:
상위구

,구,전세금_이상치,거래_집중의심,노후_이상보증,도로명,전세금_이상비율,거래집중비율,노후이상비율,전세금_이상비율_정규화,거래집중비율_정규화,노후이상비율_정규화,위험스코어
6,구로구,188,4067,56,4011,0.046871,1.013962,0.013962,0.407261,-0.048519,2.693333,1.017358
22,종로구,104,2278,28,2235,0.046532,1.019239,0.012528,0.334703,0.319777,2.052725,0.902402
4,관악구,357,8942,73,8459,0.042204,1.057099,0.008630,-0.592739,2.961715,0.310900,0.893292
2,강북구,218,4503,61,4499,0.048455,1.000889,0.013559,0.746649,-0.960753,2.513240,0.766379
10,동대문구,170,4396,54,4266,0.039850,1.030474,0.012658,-1.096987,1.103724,2.110932,0.705890

In [24]:
from sklearn.preprocessing import MinMaxScaler

def analyze_risk(df):
    # -------------------
    # 1. 전처리
    # -------------------
    df = df[['구', '계약면적(㎡)', '보증금(만원)', '계약년월', '계약일', '건축년도', '계약구분', '도로명', '종전계약 보증금(만원)']]
    df['계약연월'] = df['계약년월'].astype(str)
    
    df['건축연도대'] = pd.cut(df['건축년도'], bins=[1900, 1989, 1999, 2009, 2019, 2031],
                            labels=['~1989', '1990s', '2000s', '2010s', '2020s'])
    df['면적대'] = pd.cut(df['계약면적(㎡)'], bins=[0, 30, 50, 70, 100, 999],
                         labels=['~30', '30-50', '50-70', '70-100', '100+'])

    # -------------------
    # 2. 지표 계산
    # -------------------
    # 2-1. 보증금 이상치 (Z-score)
    df['조건그룹'] = df[['구', '건축연도대', '면적대']].astype(str).agg('_'.join, axis=1)
    group_stats = df.groupby('조건그룹')['보증금(만원)'].agg(['mean', 'std']).reset_index()
    group_stats.columns = ['조건그룹', '보증금_평균', '보증금_표준편차']
    df = df.merge(group_stats, on='조건그룹', how='left')
    df['보증금_zscore'] = (df['보증금(만원)'] - df['보증금_평균']) / df['보증금_표준편차']
    df['보증금_이상치'] = df['보증금_zscore'].abs() > 2

    # 2-2. 거래 집중 클러스터
    df['도로명_연월'] = df['도로명'] + '_' + df['계약연월']
    addr_month_freq = df['도로명_연월'].value_counts().reset_index()
    addr_month_freq.columns = ['도로명_연월', '주소_해당월_거래수']
    df = df.merge(addr_month_freq, on='도로명_연월', how='left')
    df['거래_집중의심'] = df['주소_해당월_거래수'] >= 3

    # 2-3. 노후 건물 + 이상 보증금
    df['노후건물'] = df['건축년도'] < 1990
    df['노후_이상보증'] = df['노후건물'] & df['보증금_이상치']

    # 2-4. 신규 건물 + 이상 보증금 (신규 건물: 2020년 이후)
    df['신규건물'] = df['건축년도'] >= 2020
    df['신규_이상보증'] = df['신규건물'] & df['보증금_이상치']

    # -------------------
    # 3. 구별 집계
    # -------------------
    구별_지표 = df.groupby('구').agg({
        '보증금_이상치': 'sum',
        '거래_집중의심': 'sum',
        '노후_이상보증': 'sum',
        '신규_이상보증': 'sum',
        '도로명': 'count'
    }).reset_index()

    구별_지표['보증금_이상비율'] = 구별_지표['보증금_이상치'] / 구별_지표['도로명']
    구별_지표['거래집중비율'] = 구별_지표['거래_집중의심'] / 구별_지표['도로명']
    구별_지표['노후이상비율'] = 구별_지표['노후_이상보증'] / 구별_지표['도로명']
    구별_지표['신규이상비율'] = 구별_지표['신규_이상보증'] / 구별_지표['도로명']

    # -------------------
    # 4. 위험스코어 계산
    # -------------------
    score_cols = ['보증금_이상비율', '거래집중비율', '노후이상비율', '신규이상비율']
    scaler = MinMaxScaler()
    구별_지표[[f'{col}_정규화' for col in score_cols]] = scaler.fit_transform(구별_지표[score_cols])
    구별_지표['위험스코어'] = 구별_지표[[f'{col}_정규화' for col in score_cols]].mean(axis=1)

    return 구별_지표.sort_values('위험스코어', ascending=False)

In [22]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import RobustScaler

# --- 0. 데이터 로드 및 초기 전처리 (예시 데이터 사용) ---
# 실제 데이터 로드 시 이 부분을 사용하세요.
# multi_household = pd.read_csv("your_jeonse_data.csv")
# sale_data = pd.read_csv("your_sale_data.csv")

# ==========================================================
# 예시 데이터 생성 (실제 데이터로 대체 필요!)
# ==========================================================

print("--- 0. 데이터 로드 및 초기 전처리 완료 ---")
print("multi_household head:\n", multi_household.head(2))
print("\nsale_data head:\n", sale_data.head(2))

# --- 공통 구간화 기준 설정 (전세/매매 데이터에 동일 적용) ---
bins_year = [1900, 1989, 1999, 2009, 2019, 2031] # 2031은 2020년대 포함 위함
labels_year = ['~1989', '1990s', '2000s', '2010s', '2020s']

bins_area = [0, 30, 50, 70, 100, 999] # 999는 100+ 포함 위함
labels_area = ['~30', '30-50', '50-70', '70-100', '100+']


# --- 1. 매매 데이터 전처리 및 그룹별 평균 매매가 계산 ---
print("\n--- 1. 매매 데이터 전처리 및 그룹별 평균 매매가 계산 ---")

# 1.1 '건축년도대' 구간화
sale_data['건축년도대'] = pd.cut(sale_data['건축년도'], bins=bins_year, labels=labels_year, right=False)
# NaN 값 처리: 카테고리에 'NaN_or_Missing' 추가 후 채우기
sale_data['건축년도대'] = sale_data['건축년도대'].cat.add_categories('NaN_or_Missing')
sale_data['건축년도대'].fillna('NaN_or_Missing', inplace=True)

# 1.2 '면적대' 구간화
sale_data['면적대'] = pd.cut(sale_data['전용면적(㎡)'], bins=bins_area, labels=labels_area, right=False)
# NaN 값 처리
sale_data['면적대'] = sale_data['면적대'].cat.add_categories('NaN_or_Missing')
sale_data['면적대'].fillna('NaN_or_Missing', inplace=True)

# 1.3 그룹별 평균 매매가 계산
group_cols_for_sale_avg = ['구', '주택유형', '건축년도대', '면적대']
avg_sale_price_by_group = sale_data.groupby(group_cols_for_sale_avg)['거래금액(만원)'].mean().reset_index()
avg_sale_price_by_group.columns = group_cols_for_sale_avg + ['그룹_평균_매매가(만원)']

print("매매 데이터 그룹별 평균 매매가 일부:\n", avg_sale_price_by_group.head())


# --- 2. 전세 데이터 전처리 (구간화 및 추가 컬럼 생성) ---
print("\n--- 2. 전세 데이터 전처리 ---")

# 2.1 '건축년도대' 구간화 (전세 데이터에도 동일 적용)
multi_household['건축년도대'] = pd.cut(multi_household['건축년도'], bins=bins_year, labels=labels_year, right=False)
multi_household['건축년도대'] = multi_household['건축년도대'].cat.add_categories('NaN_or_Missing')
multi_household['건축년도대'].fillna('NaN_or_Missing', inplace=True)

# 2.2 '면적대' 구간화 (전세 데이터에도 동일 적용)
multi_household['면적대'] = pd.cut(multi_household['계약면적(㎡)'], bins=bins_area, labels=labels_area, right=False)
multi_household['면적대'] = multi_household['면적대'].cat.add_categories('NaN_or_Missing')
multi_household['면적대'].fillna('NaN_or_Missing', inplace=True)

# 2.3 '계약연월' 컬럼을 문자열로 변환 (추후 '도로명_연월' 생성용)
multi_household['계약연월'] = multi_household['계약년월'].astype(str)


# --- 3. 전세 데이터에 그룹별 평균 매매가 병합 ---
print("\n--- 3. 전세 데이터에 그룹별 평균 매매가 병합 ---")
multi_household = pd.merge(multi_household, avg_sale_price_by_group,
                           on=group_cols_for_sale_avg,
                           how='left')

print("전세 데이터 (평균 매매가 병합 후) 일부:\n", multi_household[['NO', '구', '주택유형', '건축년도대', '면적대', '그룹_평균_매매가(만원)']].head())


# --- 4. 전세가율 계산 및 관련 지표 생성 ---
print("\n--- 4. 전세가율 계산 및 관련 지표 생성 ---")

# 4.1 전세가율 계산 핵심 식
multi_household['전세가율'] = (multi_household['보증금(만원)'] / multi_household['그룹_평균_매매가(만원)']) * 100

# 4.2 is_전세가율_missing 플래그 생성 (매매가 매칭 안 된 경우)
multi_household['is_전세가율_missing'] = multi_household['전세가율'].isna().astype(int)

# 4.3 전세가율 결측치 처리 (NaN 값을 -1로 채우기)
multi_household['전세가율'].fillna(-1, inplace=True)

# 4.4 전세가율 고위험 플래그 생성 (예: 90% 이상)
multi_household['전세가율_고위험'] = (multi_household['전세가율'] >= 90).astype(int)
# 전세가율이 -1인 경우 (매칭 안된 경우)는 고위험으로 보지 않음 (is_전세가율_missing으로 따로 처리)
multi_household.loc[multi_household['전세가율'] == -1, '전세가율_고위험'] = 0


print("전세가율 계산 결과 일부:\n", multi_household[['NO', '보증금(만원)', '그룹_평균_매매가(만원)', '전세가율', 'is_전세가율_missing', '전세가율_고위험']].head(10))
print(f"전세가율 정보가 없는 거래 수: {multi_household['is_전세가율_missing'].sum()}개")


# --- 5. 기타 이상 탐지 지표 생성 (기존 플로우) ---
print("\n--- 5. 기타 이상 탐지 지표 생성 ---")

# 5.1 지표 1: 보증금 이상치 (유사 조건 그룹 대비 Z-score)
multi_household['조건그룹_zscore'] = multi_household[['구', '건축년도대', '면적대']].astype(str).agg('_'.join, axis=1)

group_stats_zscore = multi_household.groupby('조건그룹_zscore')['보증금(만원)'].agg(['mean', 'std']).reset_index()
group_stats_zscore.columns = ['조건그룹_zscore', '보증금_평균_그룹', '보증금_표준편차_그룹']

multi_household = multi_household.merge(group_stats_zscore, on='조건그룹_zscore', how='left')

# 표준편차가 0인 경우 (그룹 내 모든 값이 같을 때) NaN 처리하여 Z-score도 NaN이 되게 함
multi_household['보증금_표준편차_그룹'].replace(0, np.nan, inplace=True)
multi_household['보증금_zscore'] = (multi_household['보증금(만원)'] - multi_household['보증금_평균_그룹']) / multi_household['보증금_표준편차_그룹']
multi_household['보증금_이상치'] = (multi_household['보증금_zscore'].abs() > 2).astype(int) # Z-score 2 초과이면 이상치
multi_household['보증금_이상치'].fillna(0, inplace=True) # Z-score 계산 불가시 (std=0 등) 이상치 아님으로 간주

# 5.2 지표 2: 동일 주소 + 월 거래수 ≥ 3 → 사기 의심 클러스터
multi_household['도로명_연월'] = multi_household['도로명'] + '_' + multi_household['계약연월'].astype(str)
주소_빈도 = multi_household['도로명_연월'].value_counts().reset_index()
주소_빈도.columns = ['도로명_연월', '주소_해당월_거래수']

multi_household = multi_household.merge(주소_빈도, on='도로명_연월', how='left')
multi_household['거래_집중의심'] = (multi_household['주소_해당월_거래수'] >= 3).astype(int)

# 5.3 지표 3: 노후 건물 중 이상 보증금 비율
multi_household['노후건물'] = (multi_household['건축년도'] < 1990).astype(int)
multi_household['노후_이상보증'] = (multi_household['노후건물'] & multi_household['보증금_이상치']).astype(int)


# --- 6. 구 단위로 집계 및 비율 계산 ---
print("\n--- 6. 구 단위로 집계 및 비율 계산 ---")

구별_지표 = multi_household.groupby('구').agg(
    보증금_이상치=('보증금_이상치', 'sum'),
    거래_집중의심=('거래_집중의심', 'sum'),
    노후_이상보증=('노후_이상보증', 'sum'),
    전세가율_고위험_건수=('전세가율_고위험', 'sum'),
    전세가율_정보없음_건수=('is_전세가율_missing', 'sum'), # 전세가율 정보 없음 건수
    총_거래수=('NO', 'count') # 해당 구의 총 거래 수
).reset_index()

# 비율 계산
구별_지표['보증금_이상비율'] = 구별_지표['보증금_이상치'] / 구별_지표['총_거래수']
구별_지표['거래집중비율'] = 구별_지표['거래_집중의심'] / 구별_지표['총_거래수']
구별_지표['노후이상비율'] = 구별_지표['노후_이상보증'] / 구별_지표['총_거래수']
구별_지표['전세가율_고위험_비율'] = 구별_지표['전세가율_고위험_건수'] / 구별_지표['총_거래수']
구별_지표['전세가율_정보없음_비율'] = 구별_지표['전세가율_정보없음_건수'] / 구별_지표['총_거래수']

# 총_거래수가 0인 경우 (해당 구 거래 없음) 비율이 NaN이 될 수 있으므로 0으로 처리
for col in ['보증금_이상비율', '거래집중비율', '노후이상비율', '전세가율_고위험_비율', '전세가율_정보없음_비율']:
    구별_지표[col].fillna(0, inplace=True)
    구별_지표[col].replace([np.inf, -np.inf], 0, inplace=True) # 혹시 모를 무한대 값 처리

print("구별 지표 계산 결과 일부:\n", 구별_지표.head())


# --- 7. 구별 종합 위험 점수 계산 (정규화) ---
print("\n--- 7. 구별 종합 위험 점수 계산 ---")

scaler = RobustScaler() # RobustScaler 사용

score_cols = ['보증금_이상비율', '거래집중비율', '노후이상비율',
              '전세가율_고위험_비율', '전세가율_정보없음_비율']

# 각 비율 컬럼 정규화
구별_지표[[f'{col}_정규화' for col in score_cols]] = scaler.fit_transform(구별_지표[score_cols])

# 종합 스코어 = 정규화된 지표들의 평균
구별_지표['위험스코어'] = 구별_지표[[f'{col}_정규화' for col in score_cols]].mean(axis=1)

# 위험 상위 구 보기 (내림차순 정렬)
상위구 = 구별_지표.sort_values('위험스코어', ascending=False).head(5)

print("\n--- 위험 스코어 상위 5개 구 ---")
print(상위구)

--- 0. 데이터 로드 및 초기 전처리 완료 ---
multi_household head:
    NO            시군구  계약면적(㎡) 전월세구분        계약년월  계약일  보증금(만원)  월세금(만원)  \
0   2  서울특별시 성동구 행당동    42.00    전세  2024-12-01   31    14000        0
1   5  서울특별시 용산구 서계동    26.45    전세  2024-12-01   31     3000        0

     건축년도        도로명  ...             조건그룹        보증금_평균     보증금_표준편차  \
0  1998.0      마조로1길  ...  성동구_90-00_30-50  14437.065854  5052.099432
1  1944.0  효창원로104라길  ...     용산구_~80_0-30  10729.650407  3820.112643

   보증금_zscore  보증금_이상치                도로명_연월 해당월_거래수  거래_집중의심   노후건물 노후_이상보증
0   -0.086512    False      마조로1길_2024-12-01     3.0     True  False   False
1   -2.023409     True  효창원로104라길_2024-12-01     1.0    False   True    True

[2 rows x 31 columns]

sale_data head:
    NO             시군구   번지 주택유형  도로조건  연면적(㎡)  대지면적(㎡)    계약년월  계약일 거래금액(만원)  \
0   1   서울특별시 강북구 수유동  1**   단독  8m미만   39.67     65.5  202312   30   20,000
1   2  서울특별시 동작구 노량진동  2**   단독  8m미만  157.74    119.0  202312   30  144,000

  매수 매도    건축년도       도로명 해제사유발생일  거래유형          중개사소재지
0  -  -  1969.0  한천로140가길       -   직거래               -
1  -  -  1984.0  장승배기로22길       -  중개거래  서울 동작구, 서울 용산구

--- 1. 매매 데이터 전처리 및 그룹별 평균 매매가 계산 ---

C:\Users\rmagm\AppData\Local\Temp\ipykernel_4668\1064765762.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sale_data['건축년도대'].fillna('NaN_or_Missing', inplace=True)

KeyError: '전용면적(㎡)'