In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib

### 단독/다가구

In [3]:
multi_household = pd.read_csv('D:/SDC_project/multi_household/단독다가구23,24합본.csv')
multi_household

,NO,시군구,계약면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형,구,year
0,2,서울특별시 성동구 행당동,42.00,전세,2024-12-01,31,14000,0,1998.0,마조로1길,202501~202701,갱신,-,13000,0,단독다가구,성동구,2024
1,5,서울특별시 용산구 서계동,26.45,전세,2024-12-01,31,3000,0,1944.0,효창원로104라길,202501~202701,신규,-,0,0,단독다가구,용산구,2024
2,12,서울특별시 용산구 용산동2가,61.17,전세,2024-12-01,31,25000,0,1994.0,신흥로25가길,202502~202702,신규,-,0,0,단독다가구,용산구,2024
3,19,서울특별시 광진구 중곡동,40.80,전세,2024-12-01,31,11000,0,1990.0,능동로43길,202502~202702,신규,-,0,0,단독다가구,광진구,2024
4,22,서울특별시 성동구 성수동2가,50.00,전세,2024-12-01,31,16000,0,1995.0,성덕정길,202502~202702,신규,-,0,0,단독다가구,성동구,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55354,84894,서울특별시 송파구 마천동,18.75,전세,2023-06-01,1,2000,0,1985.0,성내천로29다길,-,신규,-,0,0,단독다가구,송파구,2023
55355,84898,서울특별시 송파구 방이동,43.00,전세,2023-06-01,1,24000,0,2019.0,NaN,-,신규,-,0,0,단독다가구,송파구,2023
55356,84899,서울특별시 송파구 방이동,43.00,전세,2023-06-01,1,24000,0,2019.0,백제고분로48길,202307~202507,신규,-,0,0,단독다가구,송파구,2023
55357,84900,서울특별시 송파구 방이동,43.00,전세,2023-06-01,1,14000,0,1996.0,위례성대로2길,202309~202509,갱신,-,14000,0,단독다가구,송파구,2023
55358,84901,서울특별시 강동구 성내동,49.65,전세,2023-06-01,1,17500,0,1976.0,천호대로168다길,202306~202506,신규,-,0,0,단독다가구,강동구,2023

### 아파트

In [4]:
apt = pd.read_csv('D:/SDC_project/data_yena/apt23,24합본.csv')
apt

,Unnamed: 0,구,전용면적(㎡),보증금(만원),계약년월,계약일,건축년도,계약구분,도로명,종전계약 보증금(만원),...,보증금_평균,보증금_표준편차,보증금_zscore,보증금_이상치,도로명_연월,주소_해당월_거래수,거래_집중의심,노후건물,노후_이상보증,단가
0,0,중구,84.880,60000,2023-12-01,31,1999,신규,동호로10길 30,0,...,59554.137931,9253.847338,0.048181,False,동호로10길 30_2023-12-01,8,True,False,False,706.880302
1,1,용산구,59.220,40000,2023-12-01,31,1994,신규,이촌로2가길 122,0,...,54604.302222,9084.650463,-1.607580,False,이촌로2가길 122_2023-12-01,8,True,False,False,675.447484
2,2,용산구,59.410,67000,2023-12-01,31,2010,신규,백범로 260,0,...,77818.891156,30264.590079,-0.357477,False,백범로 260_2023-12-01,3,True,False,False,1127.756270
3,3,용산구,59.410,67000,2023-12-01,31,2010,신규,백범로 260,0,...,77818.891156,30264.590079,-0.357477,False,백범로 260_2023-12-01,3,True,False,False,1127.756270
4,4,성동구,59.980,66150,2023-12-01,31,2016,신규,금호로 173,0,...,71415.131113,14252.670923,-0.369414,False,금호로 173_2023-12-01,8,True,False,False,1102.867623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166551,166551,서초구,133.910,160000,2024-01-01,1,2023,신규,반포대로 333,0,...,243820.707071,89933.023886,-0.932035,False,반포대로 333_2024-01-01,20,True,False,False,1194.832350
166552,166552,중랑구,84.741,45000,2024-01-01,1,2004,신규,겸재로29길 27,0,...,43581.122596,7211.707249,0.196746,False,겸재로29길 27_2024-01-01,3,True,False,False,531.029844
166553,166553,양천구,59.690,28000,2024-01-01,1,1999,신규,목동남로4길 20,0,...,44401.720000,15706.834360,-1.044241,False,목동남로4길 20_2024-01-01,1,False,False,False,469.090300
166554,166554,송파구,84.980,69000,2024-01-01,1,2008,신규,충민로6길 14,0,...,91088.986632,26693.550028,-0.827503,False,충민로6길 14_2024-01-01,5,True,False,False,811.955754
166555,166555,송파구,84.790,105000,2024-01-01,1,2008,신규,올림픽로 435,0,...,91088.986632,26693.550028,0.521138,False,올림픽로 435_2024-01-01,31,True,False,False,1238.353579

### 오피스텔

In [6]:
officetel = pd.read_csv('D:/SDC_project/data_yena/officetel23,24합본.csv')
officetel

,Unnamed: 0,구,전용면적(㎡),보증금(만원),계약년월,계약일,건축년도,계약구분,도로명,종전계약 보증금(만원)
0,4,동대문구,20.62,13000,2023-12-01,30,2015.0,갱신,천호대로 257,"3,000"
1,5,도봉구,29.16,18600,2023-12-01,30,2019.0,신규,도봉로136길 19,0
2,6,중랑구,27.79,18000,2023-12-01,30,2021.0,갱신,용마산로 636,"18,000"
3,13,동대문구,18.43,21000,2023-12-01,30,2023.0,신규,왕산로 186,0
4,16,도봉구,29.16,18600,2023-12-01,30,2019.0,신규,도봉로136길 19,0
...,...,...,...,...,...,...,...,...,...,...
40542,84138,은평구,33.85,23300,2024-01-01,1,2021.0,갱신,응암로11길 8,"25,300"
40543,84142,중랑구,29.90,20000,2024-01-01,1,2021.0,신규,용마산로 636,0
40544,84145,성북구,17.72,8400,2024-01-01,1,2013.0,갱신,동소문로24길 36,"8,000"
40545,84150,중구,17.25,22000,2024-01-01,1,2023.0,신규,청파로 454,0
40546,84154,영등포구,28.60,28800,2024-01-01,1,2017.0,신규,양평로 160,0

### 연립다세대

In [76]:
town_house = pd.read_csv('D:/SDC_project/town_house/연립다세대_최종.csv')
town_house

,구,전용면적(㎡),보증금(만원),계약년월,계약일,건축년도,계약구분,도로명,종전계약 보증금(만원)
0,중랑구,25.91,25000,202306,23,2023,신규,면목로92가길 4,NaN
1,중랑구,17.54,14000,202306,23,2023,신규,면목로65길 27,NaN
2,성북구,59.64,11000,202306,23,1991,신규,장위로31길 16,NaN
3,양천구,36.72,10700,202306,1,2001,신규,목동중앙본로7가길 41,NaN
4,양천구,37.54,16500,202306,1,2012,신규,목동중앙본로24길 6,NaN
...,...,...,...,...,...,...,...,...,...
67104,은평구,29.49,23000,202412,31,2021,신규,녹번로3가길 28-1,NaN
67105,동대문구,47.77,26000,202412,31,2015,신규,장안벚꽃로3길 28,NaN
67106,중랑구,18.20,15400,202412,31,2018,신규,면목로42길 11,NaN
67107,용산구,91.71,40000,202412,31,1994,신규,보광로55길 15,NaN
67108,성동구,14.04,10290,202412,31,2014,신규,광나루로4길 6,NaN

In [77]:
town_house['계약구분'].value_counts()

계약구분
신규    67109
Name: count, dtype: int64

In [26]:
apt

,Unnamed: 0,구,전용면적(㎡),보증금(만원),계약년월,계약일,건축년도,계약구분,도로명,종전계약 보증금(만원),...,보증금_평균,보증금_표준편차,보증금_zscore,보증금_이상치,도로명_연월,주소_해당월_거래수,거래_집중의심,노후건물,노후_이상보증,단가
0,0,중구,84.880,60000,2023-12-01,31,1999,신규,동호로10길 30,0,...,59554.137931,9253.847338,0.048181,False,동호로10길 30_2023-12-01,8,True,False,False,706.880302
1,1,용산구,59.220,40000,2023-12-01,31,1994,신규,이촌로2가길 122,0,...,54604.302222,9084.650463,-1.607580,False,이촌로2가길 122_2023-12-01,8,True,False,False,675.447484
2,2,용산구,59.410,67000,2023-12-01,31,2010,신규,백범로 260,0,...,77818.891156,30264.590079,-0.357477,False,백범로 260_2023-12-01,3,True,False,False,1127.756270
3,3,용산구,59.410,67000,2023-12-01,31,2010,신규,백범로 260,0,...,77818.891156,30264.590079,-0.357477,False,백범로 260_2023-12-01,3,True,False,False,1127.756270
4,4,성동구,59.980,66150,2023-12-01,31,2016,신규,금호로 173,0,...,71415.131113,14252.670923,-0.369414,False,금호로 173_2023-12-01,8,True,False,False,1102.867623
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166551,166551,서초구,133.910,160000,2024-01-01,1,2023,신규,반포대로 333,0,...,243820.707071,89933.023886,-0.932035,False,반포대로 333_2024-01-01,20,True,False,False,1194.832350
166552,166552,중랑구,84.741,45000,2024-01-01,1,2004,신규,겸재로29길 27,0,...,43581.122596,7211.707249,0.196746,False,겸재로29길 27_2024-01-01,3,True,False,False,531.029844
166553,166553,양천구,59.690,28000,2024-01-01,1,1999,신규,목동남로4길 20,0,...,44401.720000,15706.834360,-1.044241,False,목동남로4길 20_2024-01-01,1,False,False,False,469.090300
166554,166554,송파구,84.980,69000,2024-01-01,1,2008,신규,충민로6길 14,0,...,91088.986632,26693.550028,-0.827503,False,충민로6길 14_2024-01-01,5,True,False,False,811.955754
166555,166555,송파구,84.790,105000,2024-01-01,1,2008,신규,올림픽로 435,0,...,91088.986632,26693.550028,0.521138,False,올림픽로 435_2024-01-01,31,True,False,False,1238.353579

In [38]:
apt = apt.iloc[:, 1:10]
apt

,구,전용면적(㎡),보증금(만원),계약년월,계약일,건축년도,계약구분,도로명,종전계약 보증금(만원)
0,중구,84.880,60000,2023-12-01,31,1999,신규,동호로10길 30,0
1,용산구,59.220,40000,2023-12-01,31,1994,신규,이촌로2가길 122,0
2,용산구,59.410,67000,2023-12-01,31,2010,신규,백범로 260,0
3,용산구,59.410,67000,2023-12-01,31,2010,신규,백범로 260,0
4,성동구,59.980,66150,2023-12-01,31,2016,신규,금호로 173,0
...,...,...,...,...,...,...,...,...,...
166551,서초구,133.910,160000,2024-01-01,1,2023,신규,반포대로 333,0
166552,중랑구,84.741,45000,2024-01-01,1,2004,신규,겸재로29길 27,0
166553,양천구,59.690,28000,2024-01-01,1,1999,신규,목동남로4길 20,0
166554,송파구,84.980,69000,2024-01-01,1,2008,신규,충민로6길 14,0
166555,송파구,84.790,105000,2024-01-01,1,2008,신규,올림픽로 435,0

In [51]:
officetel = officetel.iloc[:, 1:]
officetel

,구,전용면적(㎡),보증금(만원),계약년월,계약일,건축년도,계약구분,도로명,종전계약 보증금(만원)
0,동대문구,20.62,13000,2023-12-01,30,2015.0,갱신,천호대로 257,"3,000"
1,도봉구,29.16,18600,2023-12-01,30,2019.0,신규,도봉로136길 19,0
2,중랑구,27.79,18000,2023-12-01,30,2021.0,갱신,용마산로 636,"18,000"
3,동대문구,18.43,21000,2023-12-01,30,2023.0,신규,왕산로 186,0
4,도봉구,29.16,18600,2023-12-01,30,2019.0,신규,도봉로136길 19,0
...,...,...,...,...,...,...,...,...,...
40542,은평구,33.85,23300,2024-01-01,1,2021.0,갱신,응암로11길 8,"25,300"
40543,중랑구,29.90,20000,2024-01-01,1,2021.0,신규,용마산로 636,0
40544,성북구,17.72,8400,2024-01-01,1,2013.0,갱신,동소문로24길 36,"8,000"
40545,중구,17.25,22000,2024-01-01,1,2023.0,신규,청파로 454,0
40546,영등포구,28.60,28800,2024-01-01,1,2017.0,신규,양평로 160,0

In [50]:
apt = apt.drop_duplicates()
apt

,구,전용면적(㎡),보증금(만원),계약년월,계약일,건축년도,계약구분,도로명,종전계약 보증금(만원)
0,중구,84.880,60000,2023-12-01,31,1999,신규,동호로10길 30,0
1,용산구,59.220,40000,2023-12-01,31,1994,신규,이촌로2가길 122,0
2,용산구,59.410,67000,2023-12-01,31,2010,신규,백범로 260,0
4,성동구,59.980,66150,2023-12-01,31,2016,신규,금호로 173,0
5,성동구,84.980,74000,2023-12-01,31,2012,신규,금호로 107,0
...,...,...,...,...,...,...,...,...,...
166551,서초구,133.910,160000,2024-01-01,1,2023,신규,반포대로 333,0
166552,중랑구,84.741,45000,2024-01-01,1,2004,신규,겸재로29길 27,0
166553,양천구,59.690,28000,2024-01-01,1,1999,신규,목동남로4길 20,0
166554,송파구,84.980,69000,2024-01-01,1,2008,신규,충민로6길 14,0
166555,송파구,84.790,105000,2024-01-01,1,2008,신규,올림픽로 435,0

In [55]:
officetel = officetel.drop_duplicates()
officetel

,구,전용면적(㎡),보증금(만원),계약년월,계약일,건축년도,계약구분,도로명,종전계약 보증금(만원)
0,동대문구,20.62,13000,2023-12-01,30,2015.0,갱신,천호대로 257,"3,000"
1,도봉구,29.16,18600,2023-12-01,30,2019.0,신규,도봉로136길 19,0
2,중랑구,27.79,18000,2023-12-01,30,2021.0,갱신,용마산로 636,"18,000"
3,동대문구,18.43,21000,2023-12-01,30,2023.0,신규,왕산로 186,0
5,은평구,47.47,27000,2023-12-01,30,2015.0,신규,통일로66길 6-7,0
...,...,...,...,...,...,...,...,...,...
40542,은평구,33.85,23300,2024-01-01,1,2021.0,갱신,응암로11길 8,"25,300"
40543,중랑구,29.90,20000,2024-01-01,1,2021.0,신규,용마산로 636,0
40544,성북구,17.72,8400,2024-01-01,1,2013.0,갱신,동소문로24길 36,"8,000"
40545,중구,17.25,22000,2024-01-01,1,2023.0,신규,청파로 454,0
40546,영등포구,28.60,28800,2024-01-01,1,2017.0,신규,양평로 160,0

In [59]:
apt['계약년월'].max()

'2024-12-01'

In [64]:
apt['전용면적(㎡)'].describe()

count    141781.000000
mean         74.618504
std          26.518782
min          11.480000
25%          59.690000
50%          75.550000
75%          84.958000
max         301.470000
Name: 전용면적(㎡), dtype: float64

In [63]:
multi_household['계약면적(㎡)'].describe()

count    55359.000000
mean        44.592979
std         30.209073
min         10.000000
25%         26.000000
50%         38.220000
75%         52.905000
max        249.980000
Name: 계약면적(㎡), dtype: float64

In [68]:
multi_household = multi_household.rename(columns={'계약면적(㎡)':'전용면적(㎡)'})
multi_household

,NO,시군구,전용면적(㎡),전월세구분,계약년월,계약일,보증금(만원),월세금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형,구,year
0,2,서울특별시 성동구 행당동,42.00,전세,2024-12-01,31,14000,0,1998.0,마조로1길,202501~202701,갱신,-,13000,0,단독다가구,성동구,2024
1,5,서울특별시 용산구 서계동,26.45,전세,2024-12-01,31,3000,0,1944.0,효창원로104라길,202501~202701,신규,-,0,0,단독다가구,용산구,2024
2,12,서울특별시 용산구 용산동2가,61.17,전세,2024-12-01,31,25000,0,1994.0,신흥로25가길,202502~202702,신규,-,0,0,단독다가구,용산구,2024
3,19,서울특별시 광진구 중곡동,40.80,전세,2024-12-01,31,11000,0,1990.0,능동로43길,202502~202702,신규,-,0,0,단독다가구,광진구,2024
4,22,서울특별시 성동구 성수동2가,50.00,전세,2024-12-01,31,16000,0,1995.0,성덕정길,202502~202702,신규,-,0,0,단독다가구,성동구,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55354,84894,서울특별시 송파구 마천동,18.75,전세,2023-06-01,1,2000,0,1985.0,성내천로29다길,-,신규,-,0,0,단독다가구,송파구,2023
55355,84898,서울특별시 송파구 방이동,43.00,전세,2023-06-01,1,24000,0,2019.0,NaN,-,신규,-,0,0,단독다가구,송파구,2023
55356,84899,서울특별시 송파구 방이동,43.00,전세,2023-06-01,1,24000,0,2019.0,백제고분로48길,202307~202507,신규,-,0,0,단독다가구,송파구,2023
55357,84900,서울특별시 송파구 방이동,43.00,전세,2023-06-01,1,14000,0,1996.0,위례성대로2길,202309~202509,갱신,-,14000,0,단독다가구,송파구,2023
55358,84901,서울특별시 강동구 성내동,49.65,전세,2023-06-01,1,17500,0,1976.0,천호대로168다길,202306~202506,신규,-,0,0,단독다가구,강동구,2023

In [69]:
multi_household = multi_household[['구','전용면적(㎡)','보증금(만원)','계약년월','계약일','건축년도','계약구분','도로명','종전계약 보증금(만원)']]
multi_household

,구,전용면적(㎡),보증금(만원),계약년월,계약일,건축년도,계약구분,도로명,종전계약 보증금(만원)
0,성동구,42.00,14000,2024-12-01,31,1998.0,갱신,마조로1길,13000
1,용산구,26.45,3000,2024-12-01,31,1944.0,신규,효창원로104라길,0
2,용산구,61.17,25000,2024-12-01,31,1994.0,신규,신흥로25가길,0
3,광진구,40.80,11000,2024-12-01,31,1990.0,신규,능동로43길,0
4,성동구,50.00,16000,2024-12-01,31,1995.0,신규,성덕정길,0
...,...,...,...,...,...,...,...,...,...
55354,송파구,18.75,2000,2023-06-01,1,1985.0,신규,성내천로29다길,0
55355,송파구,43.00,24000,2023-06-01,1,2019.0,신규,NaN,0
55356,송파구,43.00,24000,2023-06-01,1,2019.0,신규,백제고분로48길,0
55357,송파구,43.00,14000,2023-06-01,1,1996.0,갱신,위례성대로2길,14000
55358,강동구,49.65,17500,2023-06-01,1,1976.0,신규,천호대로168다길,0

In [71]:
total_df = pd.concat([apt, officetel, multi_household], ignore_index=True)
total_df

,구,전용면적(㎡),보증금(만원),계약년월,계약일,건축년도,계약구분,도로명,종전계약 보증금(만원)
0,중구,84.88,60000,2023-12-01,31,1999.0,신규,동호로10길 30,0
1,용산구,59.22,40000,2023-12-01,31,1994.0,신규,이촌로2가길 122,0
2,용산구,59.41,67000,2023-12-01,31,2010.0,신규,백범로 260,0
3,성동구,59.98,66150,2023-12-01,31,2016.0,신규,금호로 173,0
4,성동구,84.98,74000,2023-12-01,31,2012.0,신규,금호로 107,0
...,...,...,...,...,...,...,...,...,...
236965,송파구,18.75,2000,2023-06-01,1,1985.0,신규,성내천로29다길,0
236966,송파구,43.00,24000,2023-06-01,1,2019.0,신규,NaN,0
236967,송파구,43.00,24000,2023-06-01,1,2019.0,신규,백제고분로48길,0
236968,송파구,43.00,14000,2023-06-01,1,1996.0,갱신,위례성대로2길,14000
236969,강동구,49.65,17500,2023-06-01,1,1976.0,신규,천호대로168다길,0