# 오피스텔_실거래가

### 데이터 불러오기

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib

In [2]:
officetel21 = pd.read_csv('data/오피스텔(전월세)_실거래가_2021.csv', header=15, encoding='cp949')
officetel22 = pd.read_csv('data/오피스텔(전월세)_실거래가_2022.csv', header=15, encoding='cp949')
officetel23 = pd.read_csv('data/오피스텔(전월세)_실거래가_2023.csv', header=15, encoding='cp949')

C:\Users\emily\AppData\Local\Temp\ipykernel_2448\540466763.py:2: DtypeWarning: Columns (11,19) have mixed types. Specify dtype option on import or set low_memory=False.
  officetel22 = pd.read_csv('data/오피스텔(전월세)_실거래가_2022.csv', header=15, encoding='cp949')

In [ ]:
officetel21_deal = pd.read_csv('data/오피스텔(매매)_실거래가_2021.csv', header=15, encoding='cp949')
officetel22_deal = pd.read_csv('data/오피스텔(매매)_실거래가_2022.csv', header=15, encoding='cp949')
officetel21_deal = pd.read_csv('data/오피스텔(매매)_실거래가_2023.csv', header=15, encoding='cp949')

In [9]:
officetel21_deal.nunique()

NO          19896
시군구           245
번지           1921
본번            766
부번            176
단지명          1949
전용면적(㎡)      3403
계약년월           12
계약일            31
거래금액(만원)     1757
층              52
매수              1
매도              1
건축년도           36
도로명          1877
해제사유발생일       311
거래유형            3
중개사소재지         97
dtype: int64

In [10]:
officetel21_deal.describe()

,NO,본번,부번,전용면적(㎡),계약년월,계약일,층,건축년도
count,19896.000000,19896.000000,19896.000000,19896.000000,19896.000000,19896.000000,19896.000000,19104.000000
mean,9948.500000,477.124296,13.709992,32.493359,202106.503518,15.455871,8.879574,2011.774916
std,5743.624814,421.339393,41.870625,17.748388,3.459628,8.766673,5.466099,7.930303
min,1.000000,1.000000,0.000000,10.920000,202101.000000,1.000000,1.000000,1980.000000
25%,4974.750000,94.000000,0.000000,23.120000,202103.000000,8.000000,5.000000,2005.000000
50%,9948.500000,425.000000,3.000000,28.330000,202106.000000,15.000000,8.000000,2014.000000
75%,14922.250000,716.000000,12.000000,35.210000,202110.000000,23.000000,12.000000,2018.000000
max,19896.000000,4828.000000,1278.000000,489.790000,202112.000000,31.000000,68.000000,2021.000000

In [8]:
officetel21_deal['거래유형'].value_counts()

-       16564
중개거래     2218
직거래      1114
Name: 거래유형, dtype: int64