<a href="https://colab.research.google.com/github/skqkrl/SDC_project/blob/main/%ED%8B%88%EB%A7%8C%EB%82%98%EB%A9%B4_%EC%A0%84%EC%B2%98%EB%A6%AC_%EC%B0%8C%EC%98%A5_%EB%AF%BC%EC%A3%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [99]:
import pandas as pd

In [100]:
# 전세사기 이후의 연립다세대
townhouse=pd.read_csv('/content/drive/MyDrive/틈만나면/연립다세대/townhouse.csv')

##계약구분 ⇒ “-”는 “신규”

In [101]:
#계약구분 ⇒ “-”는 “신규”
townhouse['계약구분'].value_counts()

계약구분
신규    67109
갱신    28758
-      8802
Name: count, dtype: int64

In [102]:
townhouse['계약구분'] = townhouse['계약구분'].replace('-', '신규')

In [103]:
townhouse['계약구분'].value_counts()

계약구분
신규    75911
갱신    28758
Name: count, dtype: int64

## 날짜 변환, 구 분리

In [104]:
# 계약년월과 계약일을 문자열로 변환 후 붙이고 datetime 형식으로 변환 => 계약시기
townhouse['계약시기'] = pd.to_datetime(
    townhouse['계약년월'].astype(str) + townhouse['계약일'].astype(str),
    format='%Y%m%d',
    errors='coerce'  # 오류 생기는 건 NaT로 처리
)

In [105]:
#시군구의 구를 분리
townhouse['구'] = townhouse['시군구'].str.extract(r'([가-힣]+구)')

In [106]:
townhouse.isnull().sum()

NO                  0
시군구                 0
번지                  0
본번                  0
부번                  0
건물명                 1
전월세구분               0
전용면적(㎡)             0
계약년월                0
계약일                 0
보증금(만원)             0
월세금(만원)             0
층                   0
건축년도                0
도로명                 0
계약기간                0
계약구분                0
갱신요구권 사용            0
종전계약 보증금(만원)    75912
종전계약 월세(만원)     75912
주택유형                0
연도                  0
월                   0
계약시기                0
구                   0
dtype: int64

In [107]:
townhouse.duplicated().sum()

np.int64(0)

In [108]:
townhouse.shape

(104669, 25)

## 필터링, 월세 → 전세 전환형 갱신 계약

In [109]:
townhouse[townhouse['월세금(만원)']==0]

,NO,시군구,번지,본번,부번,건물명,전월세구분,전용면적(㎡),계약년월,계약일,...,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형,연도,월,계약시기,구
0,70835,서울특별시 중랑구 상봉동,107-30,107,30,동일캐슬108동,전세,25.91,202306,23,...,202307~202507,신규,-,NaN,NaN,연립다세대,2023,6,2023-06-23,중랑구
1,70834,서울특별시 성북구 정릉동,394-1,394,1,삼성그린빌라,전세,29.61,202306,23,...,202307~202507,갱신,-,"21,000",0.0,연립다세대,2023,6,2023-06-23,성북구
2,70828,서울특별시 중랑구 면목동,543-28,543,28,예인하우스,전세,17.54,202306,23,...,202308~202508,신규,-,NaN,NaN,연립다세대,2023,6,2023-06-23,중랑구
3,70827,서울특별시 성북구 장위동,238-177,238,177,우림빌라,전세,59.64,202306,23,...,202307~202507,신규,-,NaN,NaN,연립다세대,2023,6,2023-06-23,성북구
4,70826,서울특별시 송파구 석촌동,218-10,218,10,(218-10),전세,40.80,202306,23,...,202307~202507,갱신,-,"15,750",0.0,연립다세대,2023,6,2023-06-23,송파구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104664,26,서울특별시 용산구 효창동,127-10,127,10,127-10,전세,27.94,202412,31,...,202503~202703,갱신,-,"23,100",0.0,연립다세대,2024,12,2024-12-31,용산구
104665,24,서울특별시 용산구 이태원동,180-21,180,21,그린빌라,전세,91.71,202412,31,...,202502~202702,신규,-,NaN,NaN,연립다세대,2024,12,2024-12-31,용산구
104666,23,서울특별시 광진구 중곡동,231-5,231,5,그린나래,전세,30.00,202412,31,...,202504~202703,갱신,-,"7,200",0.0,연립다세대,2024,12,2024-12-31,광진구
104667,16,서울특별시 성동구 성수동2가,299-82,299,82,에덴빌,전세,14.04,202412,31,...,202502~202602,신규,-,NaN,NaN,연립다세대,2024,12,2024-12-31,성동구
104668,1,서울특별시 용산구 후암동,254-25,254,25,참스위트빌,전세,15.12,202412,31,...,202502~202611,갱신,-,"1,000",60.0,연립다세대,2024,12,2024-12-31,용산구

In [110]:
df= townhouse[townhouse['종전계약 월세(만원)'] !=0.0]
df['종전계약 월세(만원)'].value_counts()

종전계약 월세(만원)
10.0     70
20.0     48
5.0      42
30.0     42
40.0     38
         ..
110.0     1
700.0     1
58.0      1
650.0     1
105.0     1
Name: count, Length: 76, dtype: int64

In [111]:
#월세에서 전세로 갱신된 것
df['계약구분'].value_counts()

계약구분
신규    75911
갱신      599
Name: count, dtype: int64

In [112]:
# 갱신이지만 전세로 전환”된 케이스는 전세사기 오탐지 방지를 위해 태깅/구분이 필요합니다.
#- **True** : 과거에는 월세였지만, 이번에는 전세로 갱신된 계약
# **False**:- 과거에도 전세였던 갱신이거나- 신규 계약
townhouse['전세전환_갱신'] = ((townhouse['계약구분'] == '갱신') & (townhouse['종전계약 월세(만원)'] > 0))

In [113]:
townhouse

,NO,시군구,번지,본번,부번,건물명,전월세구분,전용면적(㎡),계약년월,계약일,...,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형,연도,월,계약시기,구,전세전환_갱신
0,70835,서울특별시 중랑구 상봉동,107-30,107,30,동일캐슬108동,전세,25.91,202306,23,...,신규,-,NaN,NaN,연립다세대,2023,6,2023-06-23,중랑구,False
1,70834,서울특별시 성북구 정릉동,394-1,394,1,삼성그린빌라,전세,29.61,202306,23,...,갱신,-,"21,000",0.0,연립다세대,2023,6,2023-06-23,성북구,False
2,70828,서울특별시 중랑구 면목동,543-28,543,28,예인하우스,전세,17.54,202306,23,...,신규,-,NaN,NaN,연립다세대,2023,6,2023-06-23,중랑구,False
3,70827,서울특별시 성북구 장위동,238-177,238,177,우림빌라,전세,59.64,202306,23,...,신규,-,NaN,NaN,연립다세대,2023,6,2023-06-23,성북구,False
4,70826,서울특별시 송파구 석촌동,218-10,218,10,(218-10),전세,40.80,202306,23,...,갱신,-,"15,750",0.0,연립다세대,2023,6,2023-06-23,송파구,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104664,26,서울특별시 용산구 효창동,127-10,127,10,127-10,전세,27.94,202412,31,...,갱신,-,"23,100",0.0,연립다세대,2024,12,2024-12-31,용산구,False
104665,24,서울특별시 용산구 이태원동,180-21,180,21,그린빌라,전세,91.71,202412,31,...,신규,-,NaN,NaN,연립다세대,2024,12,2024-12-31,용산구,False
104666,23,서울특별시 광진구 중곡동,231-5,231,5,그린나래,전세,30.00,202412,31,...,갱신,-,"7,200",0.0,연립다세대,2024,12,2024-12-31,광진구,False
104667,16,서울특별시 성동구 성수동2가,299-82,299,82,에덴빌,전세,14.04,202412,31,...,신규,-,NaN,NaN,연립다세대,2024,12,2024-12-31,성동구,False
104668,1,서울특별시 용산구 후암동,254-25,254,25,참스위트빌,전세,15.12,202412,31,...,갱신,-,"1,000",60.0,연립다세대,2024,12,2024-12-31,용산구,True

In [114]:
townhouse['전세전환_갱신'].value_counts()

전세전환_갱신
False    104071
True        598
Name: count, dtype: int64

In [115]:
townhouse['전세전환_갱신'] = townhouse['전세전환_갱신'].astype(int)

In [116]:
townhouse['전세전환_갱신'].value_counts()

전세전환_갱신
0    104071
1       598
Name: count, dtype: int64

## 계약기간 개월수를 구하기=>

In [117]:

DF= townhouse.copy()
DF

,NO,시군구,번지,본번,부번,건물명,전월세구분,전용면적(㎡),계약년월,계약일,...,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형,연도,월,계약시기,구,전세전환_갱신
0,70835,서울특별시 중랑구 상봉동,107-30,107,30,동일캐슬108동,전세,25.91,202306,23,...,신규,-,NaN,NaN,연립다세대,2023,6,2023-06-23,중랑구,0
1,70834,서울특별시 성북구 정릉동,394-1,394,1,삼성그린빌라,전세,29.61,202306,23,...,갱신,-,"21,000",0.0,연립다세대,2023,6,2023-06-23,성북구,0
2,70828,서울특별시 중랑구 면목동,543-28,543,28,예인하우스,전세,17.54,202306,23,...,신규,-,NaN,NaN,연립다세대,2023,6,2023-06-23,중랑구,0
3,70827,서울특별시 성북구 장위동,238-177,238,177,우림빌라,전세,59.64,202306,23,...,신규,-,NaN,NaN,연립다세대,2023,6,2023-06-23,성북구,0
4,70826,서울특별시 송파구 석촌동,218-10,218,10,(218-10),전세,40.80,202306,23,...,갱신,-,"15,750",0.0,연립다세대,2023,6,2023-06-23,송파구,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104664,26,서울특별시 용산구 효창동,127-10,127,10,127-10,전세,27.94,202412,31,...,갱신,-,"23,100",0.0,연립다세대,2024,12,2024-12-31,용산구,0
104665,24,서울특별시 용산구 이태원동,180-21,180,21,그린빌라,전세,91.71,202412,31,...,신규,-,NaN,NaN,연립다세대,2024,12,2024-12-31,용산구,0
104666,23,서울특별시 광진구 중곡동,231-5,231,5,그린나래,전세,30.00,202412,31,...,갱신,-,"7,200",0.0,연립다세대,2024,12,2024-12-31,광진구,0
104667,16,서울특별시 성동구 성수동2가,299-82,299,82,에덴빌,전세,14.04,202412,31,...,신규,-,NaN,NaN,연립다세대,2024,12,2024-12-31,성동구,0
104668,1,서울특별시 용산구 후암동,254-25,254,25,참스위트빌,전세,15.12,202412,31,...,갱신,-,"1,000",60.0,연립다세대,2024,12,2024-12-31,용산구,1

In [118]:
def calculate_month_difference(contract_period_str):
    if not isinstance(contract_period_str, str) or '~' not in contract_period_str:
            return None
    try:
        start_date_str, end_date_str = contract_period_str.split('~')

        # 시작 년도와 월 추출
        start_year = int(start_date_str[:4])
        start_month = int(start_date_str[4:])

        # 종료 년도와 월 추출
        end_year = int(end_date_str[:4])
        end_month = int(end_date_str[4:])

        # 개월수 차이 계산
        # (종료년도 - 시작년도) * 12 + (종료월 - 시작월)
        month_difference = (end_year - start_year) * 12 + (end_month - start_month)

        return month_difference
    except Exception as e:
        return f"Error: {e}"

In [119]:
DF.loc[:, '계약개월수'] = DF['계약기간'].apply(calculate_month_difference)

In [120]:
DF

,NO,시군구,번지,본번,부번,건물명,전월세구분,전용면적(㎡),계약년월,계약일,...,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형,연도,월,계약시기,구,전세전환_갱신,계약개월수
0,70835,서울특별시 중랑구 상봉동,107-30,107,30,동일캐슬108동,전세,25.91,202306,23,...,-,NaN,NaN,연립다세대,2023,6,2023-06-23,중랑구,0,24.0
1,70834,서울특별시 성북구 정릉동,394-1,394,1,삼성그린빌라,전세,29.61,202306,23,...,-,"21,000",0.0,연립다세대,2023,6,2023-06-23,성북구,0,24.0
2,70828,서울특별시 중랑구 면목동,543-28,543,28,예인하우스,전세,17.54,202306,23,...,-,NaN,NaN,연립다세대,2023,6,2023-06-23,중랑구,0,24.0
3,70827,서울특별시 성북구 장위동,238-177,238,177,우림빌라,전세,59.64,202306,23,...,-,NaN,NaN,연립다세대,2023,6,2023-06-23,성북구,0,24.0
4,70826,서울특별시 송파구 석촌동,218-10,218,10,(218-10),전세,40.80,202306,23,...,-,"15,750",0.0,연립다세대,2023,6,2023-06-23,송파구,0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104664,26,서울특별시 용산구 효창동,127-10,127,10,127-10,전세,27.94,202412,31,...,-,"23,100",0.0,연립다세대,2024,12,2024-12-31,용산구,0,24.0
104665,24,서울특별시 용산구 이태원동,180-21,180,21,그린빌라,전세,91.71,202412,31,...,-,NaN,NaN,연립다세대,2024,12,2024-12-31,용산구,0,24.0
104666,23,서울특별시 광진구 중곡동,231-5,231,5,그린나래,전세,30.00,202412,31,...,-,"7,200",0.0,연립다세대,2024,12,2024-12-31,광진구,0,23.0
104667,16,서울특별시 성동구 성수동2가,299-82,299,82,에덴빌,전세,14.04,202412,31,...,-,NaN,NaN,연립다세대,2024,12,2024-12-31,성동구,0,12.0
104668,1,서울특별시 용산구 후암동,254-25,254,25,참스위트빌,전세,15.12,202412,31,...,-,"1,000",60.0,연립다세대,2024,12,2024-12-31,용산구,1,21.0

In [121]:
DF.columns

Index(['NO', '시군구', '번지', '본번', '부번', '건물명', '전월세구분', '전용면적(㎡)', '계약년월', '계약일',
       '보증금(만원)', '월세금(만원)', '층', '건축년도', '도로명', '계약기간', '계약구분', '갱신요구권 사용',
       '종전계약 보증금(만원)', '종전계약 월세(만원)', '주택유형', '연도', '월', '계약시기', '구',
       '전세전환_갱신', '계약개월수'],
      dtype='object')

In [122]:
DF['계약기간'].nunique()

791

In [123]:
DF['계약개월수'].value_counts()

계약개월수
24.0       90065
12.0        2474
23.0        1805
6.0          175
2.0          158
           ...
54.0           1
41.0           1
56.0           1
95702.0        1
146.0          1
Name: count, Length: 68, dtype: int64

In [124]:
DF['계약개월수'].min(), DF['계약개월수'].max()

(0.0, 95702.0)

In [125]:
DF[DF['계약개월수'] == 95702.0]['계약기간']

96082    202410~999912
Name: 계약기간, dtype: object

In [126]:
DF['계약개월수'].describe()

count    97084.000000
mean        24.539152
std        307.311193
min          0.000000
25%         24.000000
50%         24.000000
75%         24.000000
max      95702.000000
Name: 계약개월수, dtype: float64

In [127]:
DF['계약개월수'].isnull().sum()

np.int64(7585)

In [128]:
filtered_df = DF[(DF['계약개월수'] >= 1) & (DF['계약개월수'] < 60)].copy()

In [129]:
# 조건: 계약구분이 '신규'이고 계약 시기가 결측이 아닌 경우
condition = (filtered_df['계약구분'] == '신규') & (filtered_df['계약시기'].notna())

# 이 조건을 만족하면서 계약개월수가 NaN인 경우에만 24로 채움
filtered_df.loc[condition & (filtered_df['계약개월수'].isna()), '계약개월수'] = 24

# 계약 개월 수가 결측(NaN)이고, 갱신 + 갱신요구권 사용 == '사용'인 경우 → 24개월로 채움
condition1 = (
    filtered_df['계약개월수'].isna() & # '계약개월수'가 NaN인 경우를 확인
    (filtered_df['계약구분'] == '갱신') &
    (filtered_df['갱신요구권 사용'].isin(['사용', 'O']))
)
filtered_df.loc[condition1, '계약개월수'] = 24

In [130]:
# 갱신인 경우 계약 개월 수 nan 값 처리 못함 -> 모델링에서 쓰는 것으로 컬럼 처리
# 계약개월수 NaN 여부 플래그 추가
filtered_df['is_계약개월수_missing'] = filtered_df['계약개월수'].isna().astype(int)
# 남은 NaN을 -1로 대체
filtered_df['계약개월수'] = filtered_df['계약개월수'].fillna(-1)

In [131]:
import numpy as np

In [132]:
print("--- 처리 전 데이터프레임 ---")
print(filtered_df)
print("\n'계약개월수' 결측값 개수 (처리 전):", filtered_df['계약개월수'].isna().sum())
print("'갱신요구권 사용' 결측값 개수 (처리 전):", filtered_df['갱신요구권 사용'].isna().sum())

# --- 2. '갱신요구권 사용' 컬럼 처리 (도메인 지식 반영하여 세분화) ---

# 2-1. '갱신요구권 사용'의 원래 결측 여부를 나타내는 플래그 생성 (옵션이지만 권장)
# 이 플래그는 나중에 범주화된 값이 원래 결측이었는지 여부를 알려줍니다.
filtered_df['is_갱신요구권_사용_originally_missing'] = filtered_df['갱신요구권 사용'].isna().astype(int)


# 2-2. '계약구분'이 '신규'인 경우 '갱신요구권 사용'을 '해당없음'으로 설정
filtered_df.loc[filtered_df['계약구분'] == '신규', '갱신요구권 사용'] = '해당없음'

# 2-3. '계약구분'이 '갱신'인데 '갱신요구권 사용'이 결측(NaN)이거나 특정 미사용 값인 경우 '사용하지 않음'으로 설정
# 여기서는 np.nan, '-', '' (빈 문자열)을 미사용으로 간주합니다.
filtered_df.loc[
    (filtered_df['계약구분'] == '갱신') &
    (filtered_df['갱신요구권 사용'].isin([np.nan, '-', ''])), # NaN 또는 '-' 또는 빈 문자열
    '갱신요구권 사용'
] = '미사용'

# 2-4. 만약 '미사용'이라는 값이 이미 명시적으로 있다면, 그대로 둡니다. (위 로직에 의해 영향받지 않음)
#      '사용' 또는 'O' 값도 그대로 유지됩니다.

print("\n--- '갱신요구권 사용' 도메인 처리 후 ---")
print(filtered_df)
print("\n'갱신요구권 사용' 결측값 개수 (중간 처리 후):", filtered_df['갱신요구권 사용'].isna().sum())

--- 처리 전 데이터프레임 ---
           NO              시군구       번지   본번   부번       건물명 전월세구분  전용면적(㎡)  \
0       70835    서울특별시 중랑구 상봉동   107-30  107   30  동일캐슬108동    전세    25.91
1       70834    서울특별시 성북구 정릉동    394-1  394    1    삼성그린빌라    전세    29.61
2       70828    서울특별시 중랑구 면목동   543-28  543   28     예인하우스    전세    17.54
3       70827    서울특별시 성북구 장위동  238-177  238  177      우림빌라    전세    59.64
4       70826    서울특별시 송파구 석촌동   218-10  218   10  (218-10)    전세    40.80
...       ...              ...      ...  ...  ...       ...   ...      ...
104664     26    서울특별시 용산구 효창동   127-10  127   10    127-10    전세    27.94
104665     24   서울특별시 용산구 이태원동   180-21  180   21      그린빌라    전세    91.71
104666     23    서울특별시 광진구 중곡동    231-5  231    5      그린나래    전세    30.00
104667     16  서울특별시 성동구 성수동2가   299-82  299   82       에덴빌    전세    14.04
104668      1    서울특별시 용산구 후암동   254-25  254   25     참스위트빌    전세    15.12

          계약년월  계약일  ...  종전계약 보증금(만원)  종전계약 월세(만원)   주택유형    연도   월  \
0       202306   23  ...           NaN          NaN  연립다세대  2023   6
1       202306   23  ...        21,000          0.0  연립다세대  2023   6
2       202306   23  ...           NaN          NaN  연립다세대  2023   6
3       202306   23  ...           NaN          NaN  연립다세대  2023   6
4       202306   23  ...        15,750          0.0  연립다세대  2023   6
...        ...  ...  ...           ...          ...    ...   ...  ..
104664  202412   31  ...        23,100          0.0  연립다세대  2024  12
104665  202412   31  ...           NaN          NaN  연립다세대  2024  12
104666  202412   31  ...         7,200          0.0  연립다세대  2024  12
104667  202412   31  ...           NaN          NaN  연립다세대  2024  12
104668  202412   31  ...         1,000         60.0  연립다세대  2024  12

             계약시기    구 전세전환_갱신 계약개월수  is_계약개월수_missing
0      2023-06-23  중랑구       0  24.0                 0
1      2023-06-23  성북구       0  24.0                 0
2      2023-06-23  중랑구       0  24.0                 0
3      2023-06-23  성북구       0  24.0                 0
4      2023-06-23  송파구       0  24.0                 0
...           ...  ...     ...   ...               ...
104664 2024-12-31  용산구       0  24.0                 0
104665 2024-12-31  용산구       0  24.0                 0
104666 2024-12-31  광진구       0  23.0                 0
104667 2024-12-31  성동구       0  12.0                 0
104668 2024-12-31  용산구       1  21.0                 0

[96976 rows x 28 columns]

'계약개월수' 결측값 개수 (처리 전): 0
'갱신요구권 사용' 결측값 개수 (처리 전): 0

--- '갱신요구권 사용' 도메인 처리 후 ---
           NO              시군구       번지   본번   부번       건물명 전월세구분  전용면적(㎡)  \
0       70835    서울특별시 중랑구 상봉동   107-30  107   30  동일캐슬108동    전세    25.91
1       70834    서울특별시 성북구 정릉동    394-1  394    1    삼성그린빌라    전세    29.61
2       70828    서울특별시 중랑구 면목동   543-28  543   28     예인하우스    전세    17.54
3       70827    서울특별시 성북구 장위동  238-177  238  177      우림빌라    전세    59.64
4       70826    서울특별시 송파구 석촌동   218-10  218   10  (218-10)    전세    40.80
...       ...              ...      ...  ...  ...       ...   ...      ...
104664     26    서울특별시 용산구 효창동   127-10  127   10    127-10    전세    27.94
104665     24   서울특별시 용산구 이태원동   180-21  180   21      그린빌라    전세    91.71
104666     23    서울특별시 광진구 중곡동    231-5  231    5      그린나래    전세    30.00
104667     16  서울특별시 성동구 성수동2가   299-82  299   82       에덴빌    전세    14.04
104668      1    서울특별시 용산구 후암동   254-25  254   25     참스위트빌    전세    15.12

          계약년월  계약일  ...  종전계약 월세(만원)   주택유형    연도   월       계약시기    구  \
0       202306   23  ...          NaN  연립다세대  2023   6 2023-06-23  중랑구
1       202306   23  ...          0.0  연립다세대  2023   6 2023-06-23  성북구
2       202306   23  ...          NaN  연립다세대  2023   6 2023-06-23  중랑구
3       202306   23  ...          NaN  연립다세대  2023   6 2023-06-23  성북구
4       202306   23  ...          0.0  연립다세대  2023   6 2023-06-23  송파구
...        ...  ...  ...          ...    ...   ...  ..        ...  ...
104664  202412   31  ...          0.0  연립다세대  2024  12 2024-12-31  용산구
104665  202412   31  ...          NaN  연립다세대  2024  12 2024-12-31  용산구
104666  202412   31  ...          0.0  연립다세대  2024  12 2024-12-31  광진구
104667  202412   31  ...          NaN  연립다세대  2024  12 2024-12-31  성동구
104668  202412   31  ...         60.0  연립다세대  2024  12 2024-12-31  용산구

       전세전환_갱신 계약개월수 is_계약개월수_missing  is_갱신요구권_사용_originally_missing
0            0  24.0                0                               0
1            0  24.0                0                               0
2            0  24.0                0                               0
3            0  24.0                0                               0
4            0  24.0                0                               0
...        ...   ...              ...                             ...
104664       0  24.0                0                               0
104665       0  24.0                0                               0
104666       0  23.0                0                               0
104667       0  12.0                0                               0
104668       1  21.0                0                               0

[96976 rows x 29 columns]

'갱신요구권 사용' 결측값 개수 (중간 처리 후): 0

In [133]:
filtered_df

,NO,시군구,번지,본번,부번,건물명,전월세구분,전용면적(㎡),계약년월,계약일,...,종전계약 월세(만원),주택유형,연도,월,계약시기,구,전세전환_갱신,계약개월수,is_계약개월수_missing,is_갱신요구권_사용_originally_missing
0,70835,서울특별시 중랑구 상봉동,107-30,107,30,동일캐슬108동,전세,25.91,202306,23,...,NaN,연립다세대,2023,6,2023-06-23,중랑구,0,24.0,0,0
1,70834,서울특별시 성북구 정릉동,394-1,394,1,삼성그린빌라,전세,29.61,202306,23,...,0.0,연립다세대,2023,6,2023-06-23,성북구,0,24.0,0,0
2,70828,서울특별시 중랑구 면목동,543-28,543,28,예인하우스,전세,17.54,202306,23,...,NaN,연립다세대,2023,6,2023-06-23,중랑구,0,24.0,0,0
3,70827,서울특별시 성북구 장위동,238-177,238,177,우림빌라,전세,59.64,202306,23,...,NaN,연립다세대,2023,6,2023-06-23,성북구,0,24.0,0,0
4,70826,서울특별시 송파구 석촌동,218-10,218,10,(218-10),전세,40.80,202306,23,...,0.0,연립다세대,2023,6,2023-06-23,송파구,0,24.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104664,26,서울특별시 용산구 효창동,127-10,127,10,127-10,전세,27.94,202412,31,...,0.0,연립다세대,2024,12,2024-12-31,용산구,0,24.0,0,0
104665,24,서울특별시 용산구 이태원동,180-21,180,21,그린빌라,전세,91.71,202412,31,...,NaN,연립다세대,2024,12,2024-12-31,용산구,0,24.0,0,0
104666,23,서울특별시 광진구 중곡동,231-5,231,5,그린나래,전세,30.00,202412,31,...,0.0,연립다세대,2024,12,2024-12-31,광진구,0,23.0,0,0
104667,16,서울특별시 성동구 성수동2가,299-82,299,82,에덴빌,전세,14.04,202412,31,...,NaN,연립다세대,2024,12,2024-12-31,성동구,0,12.0,0,0
104668,1,서울특별시 용산구 후암동,254-25,254,25,참스위트빌,전세,15.12,202412,31,...,60.0,연립다세대,2024,12,2024-12-31,용산구,1,21.0,0,0

In [134]:
filtered_df['건축년도'].isnull().sum()

np.int64(0)

## 주소 분리하기

In [135]:
filtered_df['동'] = filtered_df['시군구'].str.extract(r'구\s([^\s]+[동가])')

In [136]:
filtered_df

,NO,시군구,번지,본번,부번,건물명,전월세구분,전용면적(㎡),계약년월,계약일,...,주택유형,연도,월,계약시기,구,전세전환_갱신,계약개월수,is_계약개월수_missing,is_갱신요구권_사용_originally_missing,동
0,70835,서울특별시 중랑구 상봉동,107-30,107,30,동일캐슬108동,전세,25.91,202306,23,...,연립다세대,2023,6,2023-06-23,중랑구,0,24.0,0,0,상봉동
1,70834,서울특별시 성북구 정릉동,394-1,394,1,삼성그린빌라,전세,29.61,202306,23,...,연립다세대,2023,6,2023-06-23,성북구,0,24.0,0,0,정릉동
2,70828,서울특별시 중랑구 면목동,543-28,543,28,예인하우스,전세,17.54,202306,23,...,연립다세대,2023,6,2023-06-23,중랑구,0,24.0,0,0,면목동
3,70827,서울특별시 성북구 장위동,238-177,238,177,우림빌라,전세,59.64,202306,23,...,연립다세대,2023,6,2023-06-23,성북구,0,24.0,0,0,장위동
4,70826,서울특별시 송파구 석촌동,218-10,218,10,(218-10),전세,40.80,202306,23,...,연립다세대,2023,6,2023-06-23,송파구,0,24.0,0,0,석촌동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104664,26,서울특별시 용산구 효창동,127-10,127,10,127-10,전세,27.94,202412,31,...,연립다세대,2024,12,2024-12-31,용산구,0,24.0,0,0,효창동
104665,24,서울특별시 용산구 이태원동,180-21,180,21,그린빌라,전세,91.71,202412,31,...,연립다세대,2024,12,2024-12-31,용산구,0,24.0,0,0,이태원동
104666,23,서울특별시 광진구 중곡동,231-5,231,5,그린나래,전세,30.00,202412,31,...,연립다세대,2024,12,2024-12-31,광진구,0,23.0,0,0,중곡동
104667,16,서울특별시 성동구 성수동2가,299-82,299,82,에덴빌,전세,14.04,202412,31,...,연립다세대,2024,12,2024-12-31,성동구,0,12.0,0,0,성수동2가
104668,1,서울특별시 용산구 후암동,254-25,254,25,참스위트빌,전세,15.12,202412,31,...,연립다세대,2024,12,2024-12-31,용산구,1,21.0,0,0,후암동

In [137]:
filtered_df['동'].nunique()

330

In [138]:
filtered_df['동'].value_counts()

동
화곡동      4944
목동       2358
자양동      2208
방배동      2015
천호동      1795
         ...
당산동5가       1
회현동2가       1
합동          1
내수동         1
삼청동         1
Name: count, Length: 330, dtype: int64

In [139]:
filtered_df['동'].isnull().sum()

np.int64(0)

In [140]:
filtered_df['건축년도'].isnull().sum()

np.int64(0)

In [141]:
filtered_df.shape

(96976, 30)

##건축년도 결측 처리

In [144]:
# --- 1. 예시 데이터프레임 생성 (실제 데이터프레임으로 대체) ---
# 실제 작업 시에는 filtered_df 데이터프레임을 로드하여 사용하세요.
# 예시: filtered_df = pd.read_csv("your_data.csv")

print("--- 처리 전 데이터프레임 (건축년도 상태) ---")
print(filtered_df[['건축년도']].head(10))
print(f"\n'건축년도' 결측값 개수 (처리 전): {filtered_df['건축년도'].isna().sum()}개")


# --- 2. '건축년도' 결측값 처리 로직 ---

# 2-1. 'is_건축년도_missing' 이진(Binary) 컬럼 추가
# '건축년도' 컬럼의 원래 값이 NaN(결측)이었다면 1, 아니면 0을 반환합니다.
filtered_df['is_건축년도_missing'] = filtered_df['건축년도'].isna().astype(int)

# 2-2. '건축년도'의 남은 NaN 값을 -1로 대체
# 실제 건축년도와 겹치지 않으면서 모델이 '결측값'으로 인식할 수 있는 값(-1)으로 채웁니다.
filtered_df['건축년도']=filtered_df['건축년도'].fillna(-1)

print("\n--- 처리 후 데이터프레임 (건축년도 상태) ---")
print(filtered_df[['건축년도', 'is_건축년도_missing']].head(10))
print(f"\n'건축년도' 결측값 개수 (처리 후): {filtered_df['건축년도'].isna().sum()}개")
print(f"'is_건축년도_missing' '1' 개수: {filtered_df['is_건축년도_missing'].sum()}개")

--- 처리 전 데이터프레임 (건축년도 상태) ---
    건축년도
0   2023
1   2018
2   2023
3   1991
4   2002
7   2017
9   2001
10  2012
11  2001
12  1989

'건축년도' 결측값 개수 (처리 전): 0개

--- 처리 후 데이터프레임 (건축년도 상태) ---
    건축년도  is_건축년도_missing
0   2023                0
1   2018                0
2   2023                0
3   1991                0
4   2002                0
7   2017                0
9   2001                0
10  2012                0
11  2001                0
12  1989                0

'건축년도' 결측값 개수 (처리 후): 0개
'is_건축년도_missing' '1' 개수: 0개

In [145]:
filtered_df

,NO,시군구,번지,본번,부번,건물명,전월세구분,전용면적(㎡),계약년월,계약일,...,연도,월,계약시기,구,전세전환_갱신,계약개월수,is_계약개월수_missing,is_갱신요구권_사용_originally_missing,동,is_건축년도_missing
0,70835,서울특별시 중랑구 상봉동,107-30,107,30,동일캐슬108동,전세,25.91,202306,23,...,2023,6,2023-06-23,중랑구,0,24.0,0,0,상봉동,0
1,70834,서울특별시 성북구 정릉동,394-1,394,1,삼성그린빌라,전세,29.61,202306,23,...,2023,6,2023-06-23,성북구,0,24.0,0,0,정릉동,0
2,70828,서울특별시 중랑구 면목동,543-28,543,28,예인하우스,전세,17.54,202306,23,...,2023,6,2023-06-23,중랑구,0,24.0,0,0,면목동,0
3,70827,서울특별시 성북구 장위동,238-177,238,177,우림빌라,전세,59.64,202306,23,...,2023,6,2023-06-23,성북구,0,24.0,0,0,장위동,0
4,70826,서울특별시 송파구 석촌동,218-10,218,10,(218-10),전세,40.80,202306,23,...,2023,6,2023-06-23,송파구,0,24.0,0,0,석촌동,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104664,26,서울특별시 용산구 효창동,127-10,127,10,127-10,전세,27.94,202412,31,...,2024,12,2024-12-31,용산구,0,24.0,0,0,효창동,0
104665,24,서울특별시 용산구 이태원동,180-21,180,21,그린빌라,전세,91.71,202412,31,...,2024,12,2024-12-31,용산구,0,24.0,0,0,이태원동,0
104666,23,서울특별시 광진구 중곡동,231-5,231,5,그린나래,전세,30.00,202412,31,...,2024,12,2024-12-31,광진구,0,23.0,0,0,중곡동,0
104667,16,서울특별시 성동구 성수동2가,299-82,299,82,에덴빌,전세,14.04,202412,31,...,2024,12,2024-12-31,성동구,0,12.0,0,0,성수동2가,0
104668,1,서울특별시 용산구 후암동,254-25,254,25,참스위트빌,전세,15.12,202412,31,...,2024,12,2024-12-31,용산구,1,21.0,0,0,후암동,0

In [146]:
filtered_df.columns

Index(['NO', '시군구', '번지', '본번', '부번', '건물명', '전월세구분', '전용면적(㎡)', '계약년월', '계약일',
       '보증금(만원)', '월세금(만원)', '층', '건축년도', '도로명', '계약기간', '계약구분', '갱신요구권 사용',
       '종전계약 보증금(만원)', '종전계약 월세(만원)', '주택유형', '연도', '월', '계약시기', '구',
       '전세전환_갱신', '계약개월수', 'is_계약개월수_missing',
       'is_갱신요구권_사용_originally_missing', '동', 'is_건축년도_missing'],
      dtype='object')

In [147]:
new_df = filtered_df.drop(columns=['NO','번지', '본번', '부번', '건물명', '전월세구분','월세금(만원)', '층','연도', '월'])

In [148]:
new_df.shape

(96976, 21)

In [149]:
new_df

,시군구,전용면적(㎡),계약년월,계약일,보증금(만원),건축년도,도로명,계약기간,계약구분,갱신요구권 사용,...,종전계약 월세(만원),주택유형,계약시기,구,전세전환_갱신,계약개월수,is_계약개월수_missing,is_갱신요구권_사용_originally_missing,동,is_건축년도_missing
0,서울특별시 중랑구 상봉동,25.91,202306,23,25000,2023,면목로92가길 4,202307~202507,신규,해당없음,...,NaN,연립다세대,2023-06-23,중랑구,0,24.0,0,0,상봉동,0
1,서울특별시 성북구 정릉동,29.61,202306,23,21000,2018,보국문로11길 28-7,202307~202507,갱신,미사용,...,0.0,연립다세대,2023-06-23,성북구,0,24.0,0,0,정릉동,0
2,서울특별시 중랑구 면목동,17.54,202306,23,14000,2023,면목로65길 27,202308~202508,신규,해당없음,...,NaN,연립다세대,2023-06-23,중랑구,0,24.0,0,0,면목동,0
3,서울특별시 성북구 장위동,59.64,202306,23,11000,1991,장위로31길 16,202307~202507,신규,해당없음,...,NaN,연립다세대,2023-06-23,성북구,0,24.0,0,0,장위동,0
4,서울특별시 송파구 석촌동,40.80,202306,23,20000,2002,삼학사로6길 13,202307~202507,갱신,미사용,...,0.0,연립다세대,2023-06-23,송파구,0,24.0,0,0,석촌동,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104664,서울특별시 용산구 효창동,27.94,202412,31,24255,2017,효창원로69가길 28,202503~202703,갱신,미사용,...,0.0,연립다세대,2024-12-31,용산구,0,24.0,0,0,효창동,0
104665,서울특별시 용산구 이태원동,91.71,202412,31,40000,1994,보광로55길 15,202502~202702,신규,해당없음,...,NaN,연립다세대,2024-12-31,용산구,0,24.0,0,0,이태원동,0
104666,서울특별시 광진구 중곡동,30.00,202412,31,7203,2022,면목로 119,202504~202703,갱신,미사용,...,0.0,연립다세대,2024-12-31,광진구,0,23.0,0,0,중곡동,0
104667,서울특별시 성동구 성수동2가,14.04,202412,31,10290,2014,광나루로4길 6,202502~202602,신규,해당없음,...,NaN,연립다세대,2024-12-31,성동구,0,12.0,0,0,성수동2가,0
104668,서울특별시 용산구 후암동,15.12,202412,31,12000,2013,두텁바위로25길 30,202502~202611,갱신,미사용,...,60.0,연립다세대,2024-12-31,용산구,1,21.0,0,0,후암동,0

In [154]:
new_df.columns

Index(['시군구', '전용면적(㎡)', '계약년월', '계약일', '보증금(만원)', '건축년도', '도로명', '계약기간',
       '계약구분', '갱신요구권 사용', '종전계약 보증금(만원)', '종전계약 월세(만원)', '주택유형', '계약시기', '구',
       '전세전환_갱신', '계약개월수', 'is_계약개월수_missing',
       'is_갱신요구권_사용_originally_missing', '동', 'is_건축년도_missing'],
      dtype='object')

In [152]:
new_df['종전계약 월세(만원)'].value_counts()

종전계약 월세(만원)
0.0      27502
10.0        69
20.0        48
30.0        41
5.0         40
         ...
110.0        1
700.0        1
58.0         1
650.0        1
105.0        1
Name: count, Length: 76, dtype: int64

In [153]:
new_df['종전계약 월세(만원)'].isnull().sum()

np.int64(68884)

In [157]:
# 결측치는 월세 아님으로 간주 → 0으로 처리
new_df['종전계약 월세(만원)'] = new_df['종전계약 월세(만원)'].fillna(0)

In [158]:
new_df.isnull().sum()

시군구                                   0
전용면적(㎡)                               0
계약년월                                  0
계약일                                   0
보증금(만원)                               0
건축년도                                  0
도로명                                   0
계약기간                                  0
계약구분                                  0
갱신요구권 사용                              0
종전계약 보증금(만원)                      68884
종전계약 월세(만원)                           0
주택유형                                  0
계약시기                                  0
구                                     0
전세전환_갱신                               0
계약개월수                                 0
is_계약개월수_missing                      0
is_갱신요구권_사용_originally_missing        0
동                                     0
is_건축년도_missing                       0
dtype: int64

In [159]:
new_df['종전계약 보증금(만원)'].isnull().sum()

np.int64(68884)

In [160]:

new_df= new_df['종전계약 보증금(만원)'].fillna(0)

In [161]:
new_df.isnull().sum()

np.int64(0)