<a href="https://colab.research.google.com/github/skqkrl/SDC_project/blob/main/%ED%95%84%ED%84%B0%EB%A7%81%ED%95%9C_%EC%A0%84%EC%84%B8%EA%B0%80%EC%9C%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd

In [17]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# 기본 전처리

In [18]:
!pip install koreanize-matplotlib

Requirement already satisfied: koreanize-matplotlib in /usr/local/lib/python3.11/dist-packages (0.1.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (from koreanize-matplotlib) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (4.58.4)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib->koreanize-matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib->koreanize-matplotlib) (1.17.0)

In [19]:
df= pd.read_csv('/content/drive/MyDrive/틈만나면/연립다세대/연립다세대(매매)_실거래가_2023.csv', encoding='euc-kr', header=15 )
df1= pd.read_csv('/content/drive/MyDrive/틈만나면/연립다세대/연립다세대(매매)_실거래가_2024.csv', encoding='euc-kr', header=15 )

In [20]:
final1= pd.concat([df,df1],ignore_index=True)

In [21]:
DF=final1[final1['계약년월']>=202306]

In [22]:
DF['계약년월'].min(), DF['계약년월'].max()

(202306, 202412)

In [23]:
DF['구'] = DF['시군구'].str.extract(r'([가-힣]+구)')

/tmp/ipython-input-23-1683578165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF['구'] = DF['시군구'].str.extract(r'([가-힣]+구)')

In [24]:
DF['매매가'] = DF['거래금액(만원)'].replace(',', '', regex=True).astype(int)

/tmp/ipython-input-24-423559615.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF['매매가'] = DF['거래금액(만원)'].replace(',', '', regex=True).astype(int)

In [48]:
DF.shape

(41894, 24)

# 조건 추가해서 매매가 평균 구하기

In [25]:
DF['건축년도'].isnull().sum()

np.int64(0)

In [26]:
bins_year = [1900, 1989, 1999, 2009, 2019, 2031]
labels_year = ['~1989', '1990s', '2000s', '2010s', '2020s']
DF['건축년도대'] = pd.cut(DF['건축년도'], bins=bins_year, labels=labels_year, right=False)

/tmp/ipython-input-26-3016945773.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF['건축년도대'] = pd.cut(DF['건축년도'], bins=bins_year, labels=labels_year, right=False)

In [27]:
DF['전용면적(㎡)'].isnull().sum()

np.int64(0)

In [28]:
bins_area = [0, 30, 50, 70, 100, 999]
labels_area = ['~30', '30-50', '50-70', '70-100', '100+']
DF['면적대'] = pd.cut(DF['전용면적(㎡)'], bins=bins_area, labels=labels_area, right=False)
DF

/tmp/ipython-input-28-2420177129.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF['면적대'] = pd.cut(DF['전용면적(㎡)'], bins=bins_area, labels=labels_area, right=False)

,NO,시군구,번지,본번,부번,건물명,전용면적(㎡),대지권면적(㎡),계약년월,계약일,...,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,등기일자,구,매매가,건축년도대,면적대
0,1,서울특별시 강북구 번동,461-62,461,62,(461-62),51.57,29.5000,202312,31,...,1994,한천로132길 6,-,중개거래,서울 강북구,-,강북구,18300,1990s,50-70
1,2,서울특별시 도봉구 방학동,632,632,0,예지팰리스84차,48.55,40.6400,202312,31,...,2016,도당로13다길 33,-,중개거래,서울 도봉구,-,도봉구,26500,2010s,30-50
2,3,서울특별시 은평구 불광동,131-1,131,1,삼흥펠리체,56.73,37.2509,202312,31,...,2022,연서로34길 13,-,직거래,-,-,은평구,46000,2020s,50-70
3,4,서울특별시 마포구 성산동,606-6,606,6,혜원빌리지,75.75,45.2600,202312,31,...,1993,성미산로13길 120,-,중개거래,서울 마포구,-,마포구,53000,1990s,70-100
4,5,서울특별시 은평구 역촌동,81-2,81,2,다베로(81-2),57.61,36.6600,202312,31,...,2022,연서로3길 25,20240423,직거래,-,-,은평구,55000,2020s,50-70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50800,27794,서울특별시 강서구 방화동,606-48,606,48,"이창준,최영자공동주택",64.08,35.1300,202401,1,...,2002,금낭화로3길 12,-,중개거래,서울 강서구,24.01.31,강서구,51500,2000s,50-70
50801,27795,서울특별시 광진구 자양동,596-1,596,1,진연빌3,29.79,20.3300,202401,1,...,2023,자양번영로2길 53-21,-,직거래,-,24.03.07,광진구,53000,2020s,~30
50802,27796,서울특별시 광진구 자양동,596-1,596,1,진연빌3,47.33,26.1400,202401,1,...,2023,자양번영로2길 53-21,-,직거래,-,24.02.19,광진구,71000,2020s,30-50
50803,27797,서울특별시 광진구 자양동,635-9,635,9,(635-9),50.76,39.0000,202401,1,...,1987,뚝섬로57가길 45,-,직거래,-,24.01.04,광진구,19000,~1989,50-70
50804,27798,서울특별시 은평구 불광동,105-101,105,101,세화에버빌(105-101),49.32,26.6800,202401,1,...,2002,불광로 205,-,중개거래,서울 은평구,24.01.19,은평구,24000,2000s,30-50

In [29]:
group_cols = ['구','건축년도대', '면적대']
buy_mean=DF.groupby(group_cols, observed=True)['매매가'].mean().reset_index()
buy_mean.columns = group_cols + ['그룹_평균_매매가(만원)']

In [30]:
buy_mean

       구  건축년도대     면적대  그룹_평균_매매가(만원)
0    강남구  ~1989     ~30   45000.000000
1    강남구  ~1989   30-50   57145.238095
2    강남구  ~1989   50-70  110057.250000
3    강남구  ~1989  70-100  117208.333333
4    강남구  ~1989    100+  430050.000000
..   ...    ...     ...            ...
554  중랑구  2010s  70-100   38071.428571
555  중랑구  2020s     ~30   29935.180556
556  중랑구  2020s   30-50   41392.574394
557  중랑구  2020s   50-70   49312.476923
558  중랑구  2020s  70-100   64600.000000

[559 rows x 4 columns]

# 조건별 평균 매매가

In [44]:
af= pd.read_csv('/content/drive/MyDrive/틈만나면/연립다세대/townhouse.csv')
af.head()

,NO,시군구,번지,본번,부번,건물명,전월세구분,전용면적(㎡),계약년월,계약일,...,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금(만원),종전계약 월세(만원),주택유형,연도,월
0,70835,서울특별시 중랑구 상봉동,107-30,107,30,동일캐슬108동,전세,25.91,202306,23,...,2023,면목로92가길 4,202307~202507,신규,-,NaN,NaN,연립다세대,2023,6
1,70834,서울특별시 성북구 정릉동,394-1,394,1,삼성그린빌라,전세,29.61,202306,23,...,2018,보국문로11길 28-7,202307~202507,갱신,-,"21,000",0.0,연립다세대,2023,6
2,70828,서울특별시 중랑구 면목동,543-28,543,28,예인하우스,전세,17.54,202306,23,...,2023,면목로65길 27,202308~202508,신규,-,NaN,NaN,연립다세대,2023,6
3,70827,서울특별시 성북구 장위동,238-177,238,177,우림빌라,전세,59.64,202306,23,...,1991,장위로31길 16,202307~202507,신규,-,NaN,NaN,연립다세대,2023,6
4,70826,서울특별시 송파구 석촌동,218-10,218,10,(218-10),전세,40.80,202306,23,...,2002,삼학사로6길 13,202307~202507,갱신,-,"15,750",0.0,연립다세대,2023,6

In [45]:
af.columns

Index(['NO', '시군구', '번지', '본번', '부번', '건물명', '전월세구분', '전용면적(㎡)', '계약년월', '계약일',
       '보증금(만원)', '월세금(만원)', '층', '건축년도', '도로명', '계약기간', '계약구분', '갱신요구권 사용',
       '종전계약 보증금(만원)', '종전계약 월세(만원)', '주택유형', '연도', '월'],
      dtype='object')

In [49]:
af['구'] = af['시군구'].str.extract(r'([가-힣]+구)')
af['전세가'] = af['보증금(만원)'].replace(',', '', regex=True).astype(int)

In [34]:
af.isnull().sum()

NO                  0
시군구                 0
번지                  0
본번                  0
부번                  0
건물명                 1
전월세구분               0
전용면적(㎡)             0
계약년월                0
계약일                 0
보증금(만원)             0
월세금(만원)             0
층                   0
건축년도                0
도로명                 0
계약기간                0
계약구분                0
갱신요구권 사용            0
종전계약 보증금(만원)    75912
종전계약 월세(만원)     75912
주택유형                0
연도                  0
월                   0
구                   0
전세가                 0
dtype: int64

In [35]:
bins_area = [0, 30, 50, 70, 100, 999]
labels_area = ['~30', '30-50', '50-70', '70-100', '100+']
af['면적대'] = pd.cut(af['전용면적(㎡)'], bins=bins_area, labels=labels_area, right=False)

In [36]:
af['면적대'].isnull().sum()

np.int64(0)

In [37]:
bins_year = [1900, 1989, 1999, 2009, 2019, 2031]
labels_year = ['~1989', '1990s', '2000s', '2010s', '2020s']
af['건축년도대'] = pd.cut(af['건축년도'], bins=bins_year, labels=labels_year, right=False)

In [38]:
multi_townhouse = pd.merge(af,buy_mean, on=group_cols, how='left')

In [39]:
multi_townhouse

,NO,시군구,번지,본번,부번,건물명,전월세구분,전용면적(㎡),계약년월,계약일,...,종전계약 보증금(만원),종전계약 월세(만원),주택유형,연도,월,구,전세가,면적대,건축년도대,그룹_평균_매매가(만원)
0,70835,서울특별시 중랑구 상봉동,107-30,107,30,동일캐슬108동,전세,25.91,202306,23,...,NaN,NaN,연립다세대,2023,6,중랑구,25000,~30,2020s,29935.180556
1,70834,서울특별시 성북구 정릉동,394-1,394,1,삼성그린빌라,전세,29.61,202306,23,...,"21,000",0.0,연립다세대,2023,6,성북구,21000,~30,2010s,21398.584906
2,70828,서울특별시 중랑구 면목동,543-28,543,28,예인하우스,전세,17.54,202306,23,...,NaN,NaN,연립다세대,2023,6,중랑구,14000,~30,2020s,29935.180556
3,70827,서울특별시 성북구 장위동,238-177,238,177,우림빌라,전세,59.64,202306,23,...,NaN,NaN,연립다세대,2023,6,성북구,11000,50-70,1990s,23736.000000
4,70826,서울특별시 송파구 석촌동,218-10,218,10,(218-10),전세,40.80,202306,23,...,"15,750",0.0,연립다세대,2023,6,송파구,20000,30-50,2000s,33498.846890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104664,26,서울특별시 용산구 효창동,127-10,127,10,127-10,전세,27.94,202412,31,...,"23,100",0.0,연립다세대,2024,12,용산구,24255,~30,2010s,39512.204301
104665,24,서울특별시 용산구 이태원동,180-21,180,21,그린빌라,전세,91.71,202412,31,...,NaN,NaN,연립다세대,2024,12,용산구,40000,70-100,1990s,140554.533333
104666,23,서울특별시 광진구 중곡동,231-5,231,5,그린나래,전세,30.00,202412,31,...,"7,200",0.0,연립다세대,2024,12,광진구,7203,30-50,2020s,52492.127660
104667,16,서울특별시 성동구 성수동2가,299-82,299,82,에덴빌,전세,14.04,202412,31,...,NaN,NaN,연립다세대,2024,12,성동구,10290,~30,2010s,28294.634146
104668,1,서울특별시 용산구 후암동,254-25,254,25,참스위트빌,전세,15.12,202412,31,...,"1,000",60.0,연립다세대,2024,12,용산구,12000,~30,2010s,39512.204301

In [40]:
multi_townhouse.isnull().sum()

NO                   0
시군구                  0
번지                   0
본번                   0
부번                   0
건물명                  1
전월세구분                0
전용면적(㎡)              0
계약년월                 0
계약일                  0
보증금(만원)              0
월세금(만원)              0
층                    0
건축년도                 0
도로명                  0
계약기간                 0
계약구분                 0
갱신요구권 사용             0
종전계약 보증금(만원)     75912
종전계약 월세(만원)      75912
주택유형                 0
연도                   0
월                    0
구                    0
전세가                  0
면적대                  0
건축년도대                0
그룹_평균_매매가(만원)      110
dtype: int64

In [41]:
multi_townhouse['전세가율'] = (multi_townhouse['보증금(만원)'] / multi_townhouse['그룹_평균_매매가(만원)']) * 100

In [47]:
multi_townhouse

,NO,시군구,번지,본번,부번,건물명,전월세구분,전용면적(㎡),계약년월,계약일,...,종전계약 월세(만원),주택유형,연도,월,구,전세가,면적대,건축년도대,그룹_평균_매매가(만원),전세가율
0,70835,서울특별시 중랑구 상봉동,107-30,107,30,동일캐슬108동,전세,25.91,202306,23,...,NaN,연립다세대,2023,6,중랑구,25000,~30,2020s,29935.180556,83.513777
1,70834,서울특별시 성북구 정릉동,394-1,394,1,삼성그린빌라,전세,29.61,202306,23,...,0.0,연립다세대,2023,6,성북구,21000,~30,2010s,21398.584906,98.137331
2,70828,서울특별시 중랑구 면목동,543-28,543,28,예인하우스,전세,17.54,202306,23,...,NaN,연립다세대,2023,6,중랑구,14000,~30,2020s,29935.180556,46.767715
3,70827,서울특별시 성북구 장위동,238-177,238,177,우림빌라,전세,59.64,202306,23,...,NaN,연립다세대,2023,6,성북구,11000,50-70,1990s,23736.000000,46.343108
4,70826,서울특별시 송파구 석촌동,218-10,218,10,(218-10),전세,40.80,202306,23,...,0.0,연립다세대,2023,6,송파구,20000,30-50,2000s,33498.846890,59.703548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104664,26,서울특별시 용산구 효창동,127-10,127,10,127-10,전세,27.94,202412,31,...,0.0,연립다세대,2024,12,용산구,24255,~30,2010s,39512.204301,61.386097
104665,24,서울특별시 용산구 이태원동,180-21,180,21,그린빌라,전세,91.71,202412,31,...,NaN,연립다세대,2024,12,용산구,40000,70-100,1990s,140554.533333,28.458705
104666,23,서울특별시 광진구 중곡동,231-5,231,5,그린나래,전세,30.00,202412,31,...,0.0,연립다세대,2024,12,광진구,7203,30-50,2020s,52492.127660,13.722058
104667,16,서울특별시 성동구 성수동2가,299-82,299,82,에덴빌,전세,14.04,202412,31,...,NaN,연립다세대,2024,12,성동구,10290,~30,2010s,28294.634146,36.367319
104668,1,서울특별시 용산구 후암동,254-25,254,25,참스위트빌,전세,15.12,202412,31,...,60.0,연립다세대,2024,12,용산구,12000,~30,2010s,39512.204301,30.370363

In [53]:
multi_townhouse.columns

Index(['NO', '시군구', '번지', '본번', '부번', '건물명', '전월세구분', '전용면적(㎡)', '계약년월', '계약일',
       '보증금(만원)', '월세금(만원)', '층', '건축년도', '도로명', '계약기간', '계약구분', '갱신요구권 사용',
       '종전계약 보증금(만원)', '종전계약 월세(만원)', '주택유형', '연도', '월', '구', '전세가', '면적대',
       '건축년도대', '그룹_평균_매매가(만원)', '전세가율'],
      dtype='object')

In [56]:
multi_townhouse.describe()

,NO,본번,부번,전용면적(㎡),계약년월,계약일,보증금(만원),월세금(만원),층,건축년도,종전계약 월세(만원),연도,월,전세가,그룹_평균_매매가(만원),전세가율
count,104669.000000,104669.000000,104669.000000,104669.000000,104669.000000,104669.000000,1.046690e+05,104669.0,104669.000000,104669.000000,28757.000000,104669.000000,104669.000000,1.046690e+05,104559.000000,104559.000000
mean,60179.152806,368.426783,56.291987,42.282096,202368.203823,15.800734,2.274680e+04,0.0,3.171426,2008.953577,0.727301,2023.610582,7.145631,2.274680e+04,37693.642216,64.839169
std,37681.845333,358.431497,160.678580,19.776346,47.443318,8.734299,1.189597e+04,0.0,1.915638,11.290948,9.339189,0.487621,3.231376,1.189597e+04,24779.906850,21.265416
min,1.000000,1.000000,0.000000,8.480000,202306.000000,1.000000,5.000000e+02,0.0,-3.000000,1956.000000,0.000000,2023.000000,1.000000,5.000000e+02,5600.000000,1.554828
25%,29240.000000,111.000000,6.000000,29.000000,202310.000000,8.000000,1.600000e+04,0.0,2.000000,2002.000000,0.000000,2023.000000,5.000000,1.600000e+04,26027.000000,50.897463
50%,56161.000000,266.000000,16.000000,38.989000,202402.000000,16.000000,2.150000e+04,0.0,3.000000,2013.000000,0.000000,2024.000000,7.000000,2.150000e+04,33498.846890,65.280047
75%,85884.000000,516.000000,41.000000,52.830000,202407.000000,23.000000,2.700000e+04,0.0,4.000000,2018.000000,0.000000,2024.000000,10.000000,2.700000e+04,41792.456522,78.351739
max,141561.000000,4973.000000,4161.000000,353.980000,202412.000000,31.000000,1.050000e+06,0.0,20.000000,2025.000000,700.000000,2024.000000,12.000000,1.050000e+06,960000.000000,730.122460

In [54]:
multi_townhouse['층'].value_counts()

층
 2     27345
 3     25691
 4     18827
 5     12030
 1      9301
 6      4141
-1      3558
 7      1170
 8       812
 9       594
 10      391
 11      283
 12      191
 13      114
 14       70
 15       32
 18       28
 19       27
 16       20
 17       19
-2        13
 20       11
-3         1
Name: count, dtype: int64

In [58]:
ss= multi_townhouse[multi_townhouse['층']>=-1]

In [59]:
ss

,NO,시군구,번지,본번,부번,건물명,전월세구분,전용면적(㎡),계약년월,계약일,...,종전계약 월세(만원),주택유형,연도,월,구,전세가,면적대,건축년도대,그룹_평균_매매가(만원),전세가율
0,70835,서울특별시 중랑구 상봉동,107-30,107,30,동일캐슬108동,전세,25.91,202306,23,...,NaN,연립다세대,2023,6,중랑구,25000,~30,2020s,29935.180556,83.513777
1,70834,서울특별시 성북구 정릉동,394-1,394,1,삼성그린빌라,전세,29.61,202306,23,...,0.0,연립다세대,2023,6,성북구,21000,~30,2010s,21398.584906,98.137331
2,70828,서울특별시 중랑구 면목동,543-28,543,28,예인하우스,전세,17.54,202306,23,...,NaN,연립다세대,2023,6,중랑구,14000,~30,2020s,29935.180556,46.767715
3,70827,서울특별시 성북구 장위동,238-177,238,177,우림빌라,전세,59.64,202306,23,...,NaN,연립다세대,2023,6,성북구,11000,50-70,1990s,23736.000000,46.343108
4,70826,서울특별시 송파구 석촌동,218-10,218,10,(218-10),전세,40.80,202306,23,...,0.0,연립다세대,2023,6,송파구,20000,30-50,2000s,33498.846890,59.703548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104664,26,서울특별시 용산구 효창동,127-10,127,10,127-10,전세,27.94,202412,31,...,0.0,연립다세대,2024,12,용산구,24255,~30,2010s,39512.204301,61.386097
104665,24,서울특별시 용산구 이태원동,180-21,180,21,그린빌라,전세,91.71,202412,31,...,NaN,연립다세대,2024,12,용산구,40000,70-100,1990s,140554.533333,28.458705
104666,23,서울특별시 광진구 중곡동,231-5,231,5,그린나래,전세,30.00,202412,31,...,0.0,연립다세대,2024,12,광진구,7203,30-50,2020s,52492.127660,13.722058
104667,16,서울특별시 성동구 성수동2가,299-82,299,82,에덴빌,전세,14.04,202412,31,...,NaN,연립다세대,2024,12,성동구,10290,~30,2010s,28294.634146,36.367319
104668,1,서울특별시 용산구 후암동,254-25,254,25,참스위트빌,전세,15.12,202412,31,...,60.0,연립다세대,2024,12,용산구,12000,~30,2010s,39512.204301,30.370363

In [60]:
ss['층'].value_counts()

층
 2     27345
 3     25691
 4     18827
 5     12030
 1      9301
 6      4141
-1      3558
 7      1170
 8       812
 9       594
 10      391
 11      283
 12      191
 13      114
 14       70
 15       32
 18       28
 19       27
 16       20
 17       19
 20       11
Name: count, dtype: int64

In [61]:
ss['구'].value_counts()

구
송파구     10409
강서구      8132
은평구      7145
마포구      6141
광진구      6011
강동구      5847
서초구      5684
용산구      5395
양천구      5087
강남구      4982
중랑구      4348
동작구      4120
성북구      3790
관악구      3666
구로구      2899
강북구      2858
영등포구     2643
서대문구     2516
동대문구     2391
금천구      2245
도봉구      2199
성동구      2159
종로구      1477
노원구      1329
중구       1182
Name: count, dtype: int64

In [62]:
ss.head(10), ss.columns

(      NO              시군구       번지   본번   부번       건물명 전월세구분  전용면적(㎡)    계약년월  \
 0  70835    서울특별시 중랑구 상봉동   107-30  107   30  동일캐슬108동    전세    25.91  202306
 1  70834    서울특별시 성북구 정릉동    394-1  394    1    삼성그린빌라    전세    29.61  202306
 2  70828    서울특별시 중랑구 면목동   543-28  543   28     예인하우스    전세    17.54  202306
 3  70827    서울특별시 성북구 장위동  238-177  238  177      우림빌라    전세    59.64  202306
 4  70826    서울특별시 송파구 석촌동   218-10  218   10  (218-10)    전세    40.80  202306
 5  70825    서울특별시 송파구 석촌동    164-1  164    1   (164-1)    전세    19.69  202306
 6  70824    서울특별시 송파구 석촌동   229-16  229   16  (229-16)    전세    45.76  202306
 7  70855   서울특별시 동대문구 전농동   213-18  213   18    213-18    전세    28.35  202306
 8  70852  서울특별시 동대문구 답십리동   467-12  467   12     라비앙청계    전세    27.44  202306
 9  79691     서울특별시 양천구 목동  318-196  318  196     금호빌라트    전세    36.72  202306

    계약일  ...  종전계약 월세(만원)   주택유형    연도  월     구    전세가    면적대  건축년도대  \
 0   23  ...          NaN  연립다세대  2023  6   중랑구  25000    ~30  2020s
 1   23  ...          0.0  연립다세대  2023  6   성북구  21000    ~30  2010s
 2   23  ...          NaN  연립다세대  2023  6   중랑구  14000    ~30  2020s
 3   23  ...          NaN  연립다세대  2023  6   성북구  11000  50-70  1990s
 4   23  ...          0.0  연립다세대  2023  6   송파구  20000  30-50  2000s
 5   23  ...          NaN  연립다세대  2023  6   송파구  16000    ~30  2010s
 6   23  ...          NaN  연립다세대  2023  6   송파구  25000  30-50  2000s
 7   23  ...          0.0  연립다세대  2023  6  동대문구  21500    ~30  2010s
 8   23  ...          NaN  연립다세대  2023  6  동대문구  23000    ~30  2020s
 9    1  ...          NaN  연립다세대  2023  6   양천구  10700  30-50  2000s

   그룹_평균_매매가(만원)       전세가율
 0  29935.180556  83.513777
 1  21398.584906  98.137331
 2  29935.180556  46.767715
 3  23736.000000  46.343108
 4  33498.846890  59.703548
 5  28293.114815  56.550861
 6  33498.846890  74.629435
 7  26091.724138  82.401607
 8  35916.750000  64.036974
 9  23800.826446  44.956422

 [10 rows x 29 columns],
 Index(['NO', '시군구', '번지', '본번', '부번', '건물명', '전월세구분', '전용면적(㎡)', '계약년월', '계약일',
        '보증금(만원)', '월세금(만원)', '층', '건축년도', '도로명', '계약기간', '계약구분', '갱신요구권 사용',
        '종전계약 보증금(만원)', '종전계약 월세(만원)', '주택유형', '연도', '월', '구', '전세가', '면적대',
        '건축년도대', '그룹_평균_매매가(만원)', '전세가율'],
       dtype='object'))